html {
  height: 100%;
}
body {
  height: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}
main {
  -webkit-box-flex: 1;
          flex-grow: 1;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}
a,
a:hover,
a:focus {
  text-decoration: none;
}
.container {
  width: 1140px;
  margin: 0 auto;
  position: relative;
  padding: 0;
}
.container_large {
  width: 1195px;
}
.container_medium {
  width: 1056px;
}
.container_small {
  width: 960px;
}
.container:before,
.container:after {
  display: table;
  content: '';
}
.container_after {
  clear: both;
}
.container_left {
  padding-left: 26px;
}
@media (max-width: 1191px) {
  .container_left {
    padding-left: 0;
  }
}
@media (max-width: 600px) {
  .container_left {
    margin: 0 30px;
  }
}
@media (max-width: 1200px) {
  .container {
    width: 960px;
  }
}
@media (max-width: 992px) {
  .container {
    width: 720px;
  }
}
@media (max-width: 768px) {
  .container {
    width: 540px;
  }
}
@media (max-width: 576px) {
  .container {
    width: auto;
  }
}
.header {
  position: relative;
  background-color: #2f3f4e;
  padding: 13px 0 19px 0;
  min-width: 320px;
}
@media (max-width: 768px) {
  .header {
    padding: 10px 0;
  }
}
.header__logo {
  display: inline-block;
  width: 190px;
  height: 48px;
}
@media (max-width: 768px) {
  .header__logo {
    width: 153px;
    height: auto;
  }
}
.header__logo-pic {
  width: 100%;
}
.header__burger {
  display: none;
  float: right;
  margin-top: 3px;
  margin-right: 6px;
  width: 25px;
  height: 18px;
  background: url(../img/burger.png) no-repeat;
  cursor: pointer;
}
@media (max-width: 768px) {
  .header__burger {
    display: block;
  }
}
.header__menu {
  display: inline-block;
  list-style: none;
  margin: 19px 22px 0 0;
  float: right;
}
@media (max-width: 768px) {
  .header__menu {
    display: none;
  }
}
.header__menu_adaptive {
  display: none;
}
@media (max-width: 768px) {
  .header__menu_adaptive {
    display: none;
    margin: 0;
    position: absolute;
    top: 59px;
    left: 0;
    width: 100%;
    background-color: #2f3f4e;
    border-top: 1px solid #231f20;
  }
}
.header__menu-item {
  display: inline-block;
  padding-left: 15px;
}
.header__menu-item:not(:last-child):after {
  content: '';
  display: inline-block;
  background-color: #10b3dc;
  width: 2px;
  height: 14px;
  margin-left: 11px;
}
@media (max-width: 768px) {
  .header__menu-item:not(:last-child):after {
    content: none;
  }
}
@media (max-width: 768px) {
  .header__menu-item {
    display: block;
  }
}
.header__link,
.header__link:active,
.header__link:focus {
  display: inline-block;
  text-decoration: none;
  color: #10b3dc;
  font-family: 'Gotham';
  font-size: 15px;
  font-weight: 400;
}
.header__link:hover,
.header__link:active:hover,
.header__link:focus:hover {
  text-decoration: none;
  color: #10b3dc;
}
@media (max-width: 768px) {
  .header__link,
  .header__link:active,
  .header__link:focus {
    display: block;
    padding: 15px;
  }
}
.main {
  min-width: 320px;
}
.main__descript {
  background: url(../img/header.png) no-repeat;
  background-size: 100%;
  background-position: center 65%;
}
.main__descript_contacts {
  background-image: url(../img/header-cont.png);
  background-size: cover;
  padding: 117px 0 102px 0;
}
@media (max-width: 768px) {
  .main__descript_contacts {
    padding: 33px 0 30px 0;
  }
}
.main__mask {
  padding-bottom: 56px;
  background: rgba(0, 0, 0, 0.6);
}
@media (max-width: 768px) {
  .main__mask {
    padding-bottom: 62px;
  }
}
.descript__container {
  text-align: center;
}
.descript__mask {
  background: rgba(0, 0, 0, 0.6);
  padding: 72px 0 84px 0;
}
@media (max-width: 768px) {
  .descript__mask {
    padding: 26px 0 37px 0;
  }
}
.descript__caption {
  display: block;
  font-family: 'Gotham';
  font-size: 32px;
  font-weight: 400;
  color: #fff;
  margin-bottom: 14px;
}
@media (max-width: 768px) {
  .descript__caption {
    font-size: 26px;
    margin-bottom: 3px;
  }
}
.descript__text {
  display: inline-block;
  max-width: 775px;
  min-width: 244px;
  width: auto;
  font-family: 'Gotham';
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  letter-spacing: 0.44px;
  line-height: 23px;
}
@media (max-width: 768px) {
  .descript__text {
    font-size: 15px;
    line-height: 17px;
  }
}
.part {
  text-align: center;
  padding: 60px 0 27px 0;
}
@media (max-width: 768px) {
  .part {
    padding: 40px 0 0 0;
  }
}
.part__logo {
  text-align: center;
  display: inline-block;
  width: 70px;
  height: 70px;
  margin: 0 62px;
}
.part__logo_work {
  background: url(../img/work.png) no-repeat;
}
.part__logo_smoking {
  background: url(../img/smoking.png) no-repeat;
}
.part__logo_medical {
  background: url(../img/medical.png) no-repeat;
}
.part__logo_side {
  background: url(../img/side.png) no-repeat;
}
.part__caption {
  display: inline-block;
  font-family: 'Gotham';
  font-size: 32px;
  font-weight: 400;
  color: #8e8e93;
  margin: 39px 0 21px 0;
  letter-spacing: -0.9px;
}
@media (max-width: 768px) {
  .part__caption {
    font-size: 21px;
    margin: 25px 0 9px 0;
  }
}
@media (max-width: 768px) {
  .part__caption_how {
    font-weight: 800;
  }
}
.part__caption_blue,
.part__caption_blue:hover {
  color: #10b3dc;
  margin: 0;
}
.part__descript {
  font-family: 'Gotham';
  font-size: 18px;
  font-weight: 400;
  color: #8e8e93;
  line-height: 22px;
  letter-spacing: 0.4px;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .part__descript {
    font-weight: 400;
    line-height: 18px;
  }
}
.part__descript_work {
  max-width: 804px;
  min-width: 260px;
  width: auto;
}
.part__descript_smoking {
  max-width: 725px;
  min-width: 260px;
  width: auto;
}
.part__descript_side {
  max-width: 880px;
  min-width: 260px;
  width: auto;
}
.part__descript_medical {
  max-width: 868px;
  min-width: 260px;
  width: auto;
}
.part__descript_blue,
.part__descript_blue:hover {
  font-size: 18px;
  color: #10b3dc;
}
@media (max-width: 768px) {
  .part__descript_blue,
  .part__descript_blue:hover {
    font-size: 15px;
  }
}
@media (max-width: 768px) {
  .part__descript {
    font-size: 15px;
    width: 260px;
  }
}
.part__img {
  margin-top: 47px;
  max-width: 100%;
}
@media (max-width: 768px) {
  .part__img {
    display: none;
  }
}
.part__img_expl {
  margin-left: 5%;
}
.part__img-ad {
  display: none;
}
@media (max-width: 768px) {
  .part__img-ad {
    display: block;
    margin: 17px auto 0;
  }
}
@media (max-width: 768px) {
  .part__img-ad_expl {
    -webkit-transform: translate(8%);
            transform: translate(8%);
  }
}
.results {
  background: url(../img/results.png) no-repeat;
  background-size: cover;
  margin-top: 53px;
  text-align: center;
}
.results__caption {
  display: block;
  font-family: 'Gotham';
  font-size: 32px;
  font-weight: 400;
  color: #10b3dc;
  margin: 79px 0 17px 0;
}
@media (max-width: 768px) {
  .results__caption {
    font-size: 22px;
    margin: 36px 0 18px 0;
  }
}
.results__text {
  display: inline-block;
  font-family: 'Gotham';
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  letter-spacing: 0.4px;
  min-width: 278px;
  max-width: 564px;
  width: auto;
}
@media (max-width: 768px) {
  .results__text {
    font-size: 15px;
  }
}
.results__img {
  margin-top: -22px;
  margin-bottom: 90px;
  max-width: 100%;
}
@media (max-width: 768px) {
  .results__img {
    margin-top: 0;
    margin-bottom: 61px;
  }
}
@media (max-width: 768px) {
  .results__img {
    display: none;
  }
}
.results__img_expl {
  margin-left: 4%;
}
.results__img-ad {
  display: none;
}
@media (max-width: 768px) {
  .results__img-ad {
    display: block;
    margin: 0 auto;
    margin-bottom: 59px;
  }
}
.results__button-left {
  margin-left: 55px;
}
@media (max-width: 1200px) {
  .results__button-left {
    margin-left: 43px;
  }
}
@media (max-width: 768px) {
  .results__button-left {
    margin: 0;
  }
}
@media (max-width: 768px) {
  .results__container {
    display: block;
    margin-bottom: 0;
  }
}
.results__container_left {
  float: right;
}
@media (max-width: 768px) {
  .results__container_left {
    float: none;
  }
}
.results__container_right {
  float: left;
}
@media (max-width: 768px) {
  .results__container_right {
    float: none;
  }
}
.results__buttons {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  margin-left: -55px;
}
@media (max-width: 768px) {
  .results__buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    padding-top: 30px;
    margin-left: 0;
  }
}
.results__button,
.results__button:hover {
  cursor: pointer;
  display: inline-block;
  background: #0eb4de;
  font-family: 'Gotham Pro';
  font-weight: 500;
  color: #fff;
  font-size: 16px;
  padding: 9px 50px 10px 50px;
  border-radius: 6px;
  letter-spacing: .5px;
}
.results__clar {
  display: block;
  font-family: 'Gotham Pro';
  font-weight: 400;
  color: #fff;
  font-size: 16px;
  margin-top: 12px;
}
@media (max-width: 768px) {
  .results__clar {
    margin-top: 8px;
  }
}
.results__or {
  display: inline-block;
  text-transform: uppercase;
  font-family: 'Arial';
  font-size: 22px;
  color: #fff;
  vertical-align: top;
  padding: 6px 36px 0 42px;
}
@media (max-width: 1200px) {
  .results__or {
    padding: 6px 36px 0 42px;
  }
}
@media (max-width: 992px) {
  .results__or {
    padding: 6px 36px 0 42px;
  }
}
@media (max-width: 768px) {
  .results__or {
    display: block;
    font-size: 25px;
    padding: 23px 0 20px 0;
  }
}
.footer {
  flex-shrink: 0;
  background-color: #231f20;
  text-align: center;
  padding: 34px 0 38px 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: end;
          align-items: flex-end;
  -webkit-box-flex: 0;
          flex-grow: 0;
}
@media (max-width: 768px) {
  .footer {
    padding: 27px 0;
  }
}
.footer__menu-item {
  display: inline-block;
  padding-left: 10px;
}
@media (max-width: 768px) {
  .footer__menu-item {
    margin-bottom: 28px;
  }
}
.footer__menu-item:not(:last-child) {
  border-right: 1px solid #fff;
  padding-right: 9px;
}
@media (max-width: 768px) {
  .footer__menu-item:not(:last-child) {
    display: block;
    border: none;
  }
}
.footer__link {
  text-decoration: none;
  color: #fff;
  font-size: 11px;
  font-family: 'Gotham';
  font-weight: 400;
  letter-spacing: .1px;
}
@media (max-width: 768px) {
  .footer__link {
    font-size: 18px;
  }
}
.footer__link:hover {
  text-decoration: none;
  color: #fff;
}
.footer__link_green {
  color: #52b826;
}
.footer__copy {
  display: inline-block;
  margin-top: 23px;
  color: #fff;
  font-size: 11px;
  font-family: 'Gotham';
  font-weight: 400;
}
@media (max-width: 768px) {
  .footer__copy {
    font-size: 16px;
    margin-top: 0;
    padding-top: 4px;
  }
}
.breadcrumbs__list {
  list-style: none;
  display: -webkit-box;
  display: flex;
  flex-wrap: nowrap;
}
.breadcrumbs__item:not(:last-child) {
  margin-right: 10px;
}
.breadcrumbs__item:not(:last-child):after {
  content: '>';
  margin-left: 10px;
  font-family: 'Gotham';
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  color: #7d7d7d;
}
.breadcrumbs__link {
  font-family: 'Gotham';
  font-weight: 400;
  font-size: 15px;
  line-height: 1;
  color: #10b3dc;
  white-space: nowrap;
}
.breadcrumbs__text {
  font-family: 'Gotham';
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  color: #7d7d7d;
  white-space: nowrap;
}
a,
a:hover,
a:focus {
  text-decoration: none;
}
.descript-contacts__container {
  text-align: center;
}
.descript-contacts__caption {
  display: block;
  font-family: 'Gotham';
  font-size: 52px;
  font-weight: 400;
  color: #fff;
  margin-bottom: 14px;
}
@media (max-width: 768px) {
  .descript-contacts__caption {
    font-size: 26px;
    margin-bottom: 3px;
  }
}
.touch {
  padding: 56px 0 86px 0;
  text-align: center;
}
@media (max-width: 768px) {
  .touch {
    padding: 18px 0 37px 0;
  }
}
.touch__caption {
  font-family: 'Gotham';
  font-size: 30px;
  color: #333;
  font-weight: 400;
  margin-bottom: 29px;
  letter-spacing: 0.1px;
}
@media (max-width: 768px) {
  .touch__caption {
    font-size: 20px;
    margin-bottom: 18px;
  }
}
.touch__text {
  display: inline-block;
  font-family: 'Gotham';
  font-size: 14px;
  color: #333;
  font-weight: 400;
  line-height: 17px;
  margin-bottom: 51px;
  max-width: 670px;
  min-width: 330px;
  width: auto;
}
@media (max-width: 768px) {
  .touch__text {
    margin-bottom: 23px;
  }
}
.touch__form {
  margin-bottom: 30px;
}
.touch__inputs-container {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  padding-left: 17px;
}
@media (max-width: 768px) {
  .touch__inputs-container {
    padding-left: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-align: center;
            align-items: center;
  }
}
.touch__inputs {
  width: 390px;
  margin-right: 30px;
}
@media (max-width: 768px) {
  .touch__inputs {
    margin-right: 0;
  }
}
.touch__label {
  display: block;
  position: relative;
}
@media (max-width: 1200px) {
  .touch__label {
    margin-left: 30px;
  }
}
@media (max-width: 992px) {
  .touch__label {
    margin-left: 0;
    width: 329px;
    margin: 0 auto;
  }
}
.touch__label:before {
  content: '';
  display: block;
  width: 26px;
  height: 26px;
  position: absolute;
  top: 10px;
  left: 9px;
  border-right: 1px solid #d5d5d5;
}
.touch__label_name:before {
  background: url(../img/name.png) no-repeat 5px 6px;
}
.touch__label_mail:before {
  background: url(../img/mail.png) no-repeat 5px 7px;
}
.touch__label_subject:before {
  background: url(../img/subject.png) no-repeat 8px 4px;
}
.touch__label_message {
  margin-left: 12px;
  width: 388px;
}
@media (max-width: 992px) {
  .touch__label_message {
    margin: 0 auto;
    width: 328px;
  }
}
.touch__label_message:before {
  top: 10px;
  left: 15px;
  background: url(../img/message.png) no-repeat 1px 6px;
}
.touch__input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border: 2px solid #d5d5d5;
  border-radius: 4px;
  padding: 13px 45px;
  margin-bottom: 27px;
  color: #666;
  font-family: 'Gotham';
  font-size: 14px;
  font-weight: 400;
  outline: none;
}
.touch__input_message {
  height: 191px;
  resize: none;
  padding: 12px 52px;
}
.touch__button {
  border: none;
  float: right;
  border-radius: 6px;
  color: #fff;
  font-family: 'Gotham';
  font-size: 16px;
  font-weight: 400;
  background-color: #10b3dc;
  padding: 13px 43px 11px 44px;
  margin: 2px 161px 0 0;
}
@media (max-width: 1200px) {
  .touch__button {
    margin-right: 71px;
  }
}
@media (max-width: 992px) {
  .touch__button {
    margin: 1px auto 0;
    float: none;
    display: inline-block;
    text-align: center;
    outline: none;
  }
}
.section__info {
  display: -webkit-box;
  display: flex;
  flex-wrap: nowrap;
}
@media (max-width: 1200px) {
  .section__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-align: center;
            align-items: center;
  }
}
.section__info_physical {
  margin-right: -25px;
}
@media (max-width: 1200px) {
  .section__info_physical {
    margin-right: 0;
  }
}
.section__caption {
  font-family: 'Roboto', sans-serif;
  color: #2f3f4d;
  font-size: 36px;
  font-weight: 400;
  margin-top: 30px;
  margin-left: 14px;
}
@media (max-width: 1200px) {
  .section__caption {
    margin-top: 18px;
  }
}
.section__caption:after {
  content: '';
  display: block;
  width: 44px;
  height: 3px;
  background-color: #b6cd1b;
  margin-top: 16px;
}
.section__container {
  display: inline-block;
  width: 838px;
  vertical-align: top;
  margin: 18px 84px 45px 14px;
  flex-shrink: 1;
}
@media (max-width: 1200px) {
  .section__container {
    max-width: 838px;
    min-width: 290px;
    width: auto;
    -webkit-box-ordinal-group: 2;
            order: 1;
    margin: 30px 15px 15px 15px;
  }
}
.section__container_physical {
  margin: 18px 92px 45px 14px;
  box-sizing: border-box;
}
@media (max-width: 1200px) {
  .section__container_physical {
    margin-right: 0;
    margin-left: 0;
    padding: 0 15px;
  }
}
.section__container_party {
  margin: 18px 91px 92px 14px;
}
@media (max-width: 1200px) {
  .section__container_party {
    margin-right: 0;
    margin-left: 0;
    padding: 0 15px;
  }
}
.section__container_movie {
  margin: 18px 84px 92px 14px;
}
@media (max-width: 1200px) {
  .section__container_movie {
    margin-right: 0;
    margin-left: 0;
    padding: 0 15px;
  }
}
.section__descript {
  font-size: 14px;
  font-family: 'Gotham';
  font-weight: 400;
  color: #2f3f4d;
  display: inline-block;
  vertical-align: top;
  line-height: 24px;
  white-space: pre-wrap;
}
.section__img {
  vertical-align: top;
  width: 250px;
  height: 237px;
  display: inline-block;
}
.section__img_product {
  margin-top: 16px;
  background: url(../img/productivity.png) no-repeat;
}
@media (max-width: 1200px) {
  .section__img_product {
    margin-top: 34px;
  }
}
.section__img_romantic {
  background: url(../img/romantic.png) no-repeat;
  margin-left: 4px;
}
.section__img_physical {
  background: url(../img/physical.png) no-repeat;
  width: 266px;
}
.section__img_party {
  background: url(../img/party.png) no-repeat;
}
.section__img_movie {
  background: url(../img/movie.png) no-repeat;
  margin-left: 8px;
}
.section__img_gaming {
  background: url(../img/gaming.png) no-repeat;
  margin: -38px 0 0 7px;
}
@media (max-width: 1200px) {
  .section__img_gaming {
    margin-top: 0;
  }
}
.list {
  list-style: none;
  margin-bottom: 44px;
}
.list__item {
  border-top: 3px double #b6cd1b;
  padding-bottom: 46px;
}
@media (max-width: 1200px) {
  .list__item {
    border-color: transparent;
    text-align: center;
  }
}
.list__item_physical {
  padding-bottom: 68px;
}
.list__caption {
  display: inline-block;
  font-family: 'Gotham';
  font-weight: 800;
  color: #2f3f4d;
  text-transform: uppercase;
  vertical-align: 30px;
  background-color: #fff;
  padding-right: 20px;
  font-size: 29px;
  letter-spacing: 0.4px;
  padding-left: 12px;
  margin-top: -17px;
}
@media (max-width: 1200px) {
  .list__caption {
    border-bottom: 3px double #b6cd1b;
  }
}
@media (max-width: 450px) {
  .list__caption_large {
    width: 300px;
    margin-top: -40px;
  }
}
@media (max-width: 389px) {
  .list__caption_large {
    width: 220px;
    margin-top: -40px;
  }
}
.list__container-large {
  display: -webkit-box;
  display: flex;
  flex-wrap: nowrap;
}
@media (max-width: 1200px) {
  .list__container-large {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-align: center;
            align-items: center;
    text-align: left;
  }
}
.list__container-large_physical {
  margin-top: -9px;
}
.list__container {
  margin-right: 77px;
  display: inline-block;
  margin-top: -6px;
}
@media (max-width: 1200px) {
  .list__container {
    margin-right: 0;
  }
}
.list__container_romance {
  margin-top: -14px;
}
.list__container_physical {
  margin-top: 6px;
}
.list__container_yoda {
  margin-right: 86px;
}
.list__container_moon {
  margin-right: 57px;
}
.list__container_kush {
  margin-right: 93px;
}
.list__container_arctic {
  margin-right: 80px;
}
.list__container_bird {
  margin-top: 12px;
}
.list__container_train {
  margin-top: -21px;
}
.list__container-min {
  padding-left: 33px;
  margin-top: -4px;
}
@media (max-width: 1200px) {
  .list__container-min {
    margin-top: 11px;
    margin-bottom: 30px;
  }
}
.list__container-min_physical {
  margin-top: 5px;
}
.list__img {
  width: 232px;
  height: 207px;
}
.list__img_romance {
  height: 212px;
}
.list__img_blue {
  background: url(../img/dream.png) no-repeat 15px 0;
}
.list__img_jack {
  background: url(../img/jack.png) no-repeat 3px 0;
}
.list__img_green {
  background: url(../img/green.png) no-repeat 0 0;
}
.list__img_poison {
  background: url(../img/poison.png) no-repeat 15px 0;
}
.list__img_harlequin {
  background: url(../img/harlequin.png) no-repeat 15px 0;
}
.list__img_sex {
  background: url(../img/sex.png) no-repeat 15px 0;
}
.list__img_girl {
  background: url(../img/girl.png) no-repeat 15px 0;
}
.list__img_bruce {
  background: url(../img/bruce.png) no-repeat 15px 0;
}
.list__img_super {
  background: url(../img/super.png) no-repeat 3px 0;
}
.list__img_og {
  background: url(../img/og.png) no-repeat 15px 0;
}
.list__img_jillybean {
  background: url(../img/jillybean.png) no-repeat 15px 0;
  height: 215px;
}
.list__img_casey {
  background: url(../img/casey.png) no-repeat 11px 0;
  height: 215px;
}
.list__img_chocolope {
  background: url(../img/chocolope.png) no-repeat 15px 0;
  height: 215px;
}
.list__img_acdc {
  background: url(../img/acdc.png) no-repeat 9px 0;
  height: 215px;
}
.list__img_tangerine {
  background: url(../img/tangerine.png) no-repeat 4px 0;
  height: 215px;
}
.list__img_dance {
  background: url(../img/dance.png) no-repeat 6px 3px;
}
.list__img_blueberry {
  background: url(../img/blueberry.png) no-repeat 16px 3px;
}
.list__img_sauce {
  background: url(../img/sauce.png) no-repeat 16px 3px;
}
.list__img_buddha {
  background: url(../img/buddha.png) no-repeat 10px 0;
  heigcht: 214px;
}
.list__img_willy {
  background: url(../img/willy.png) no-repeat 13px 3px;
}
.list__img_cinderella {
  background: url(../img/cinderella.png) no-repeat 0 3px;
}
.list__img_yoda {
  background: url(../img/yoda.png) no-repeat 0 0;
  margin-left: -23px;
  width: 249px;
}
.list__img_moon {
  background: url(../img/moon.png) no-repeat 2px 4px;
  width: 255px;
}
.list__img_arctic {
  background: url(../img/arctic.png) no-repeat 0 1px;
}
.list__img_kush {
  background: url(../img/kush.png) no-repeat 0 3px;
  margin-left: -14px;
}
.list__img_duke {
  background: url(../img/duke.png) no-repeat 14px 2px;
}
.list__img_bird {
  background: url(../img/bird.png) no-repeat 14px 3px;
}
.list__img_lsd {
  background: url(../img/lsd.png) no-repeat 14px 4px;
}
.list__img_dragon {
  background: url(../img/dragon.png) no-repeat 12px 3px;
}
.list__img_train {
  background: url(../img/train.png) no-repeat 12px 0;
  height: 229px;
}
.list__min-img {
  display: inline-block;
  width: 51px;
  height: 51px;
  margin-right: 3px;
  margin-top: 10px;
  background-size: 51px 51px;
}
.list__min-img_rasp {
  background-image: url(../img/rasp.png);
}
.list__min-img_blue2 {
  background-image: url(../img/blue2.png);
}
.list__min-img_lolipop {
  background-image: url(../img/lolipop.png);
}
.list__min-img_showel {
  background-image: url(../img/shovel.png);
}
.list__min-img_spruce {
  background-image: url(../img/spruce.png);
}
.list__min-img_jack3 {
  background-image: url(../img/jack3.png);
}
.list__min-img_green2 {
  background-image: url(../img/green2.png);
}
.list__min-img_harlequin2 {
  background-image: url(../img/harlequin2.png);
}
.list__min-img_raccon {
  background-image: url(../img/raccon.png);
}
.list__min-img_red {
  background-image: url(../img/red.png);
}
.list__min-img_gasoline {
  background-image: url(../img/gasoline.png);
}
.list__min-img_citrus {
  background-image: url(../img/citrus.png);
}
.list__min-img_herb {
  background-image: url(../img/herb.png);
}
.list__min-img_orange {
  background-image: url(../img/orange.png);
}
.list__min-img_coffee {
  background-image: url(../img/coffee.png);
}
.list__min-img_lime {
  background-image: url(../img/lime.png);
}
.list__min-img_branch {
  background-image: url(../img/branch.png);
}
.list__min-img_cookie {
  background-image: url(../img/cookie.png);
}
.list__descript {
  display: inline-block;
  vertical-align: top;
  font-family: 'Gotham';
  font-size: 14px;
  font-weight: 400;
  color: #2f3f4d;
  line-height: 24px;
}
@media (max-width: 1200px) {
  .list__descript {
    margin: 0 15px;
  }
}
.list__descript_romance {
  margin-top: -9px;
}
@media (max-width: 1200px) {
  .list__descript_romance {
    margin-top: 0;
  }
}
.claim {
  background: url(../img/claim.png) no-repeat;
  background-size: cover;
}
.claim__container {
  width: 1200px;
  margin: 0 auto;
  padding-bottom: 74px;
}
@media (max-width: 1220px) {
  .claim__container {
    width: 960px;
  }
}
@media (max-width: 992px) {
  .claim__container {
    width: 720px;
  }
}
@media (max-width: 768px) {
  .claim__container {
    width: 540px;
    padding-bottom: 40px;
  }
}
@media (max-width: 576px) {
  .claim__container {
    width: 290px;
  }
}
.claim__caption {
  font-family: 'Gotham';
  font-weight: 800;
  font-size: 62px;
  color: #fff;
  padding: 81px 0 8px 49px;
  letter-spacing: -1.5px;
}
@media (max-width: 992px) {
  .claim__caption {
    text-align: center;
    padding: 81px 0 8px;
  }
}
@media (max-width: 576px) {
  .claim__caption {
    width: 290px;
    padding-left: 0;
    line-height: 60px;
    padding: 28px 0 45px 0;
  }
}
.claim__descript {
  width: 638px;
  color: #fff;
  font-family: 'Gotham';
  font-weight: 400;
  font-size: 32px;
  text-align: center;
  margin-bottom: 30px;
  margin-left: 22px;
  letter-spacing: -0.8px;
  line-height: 38px;
}
@media (max-width: 992px) {
  .claim__descript {
    min-width: 290px;
    width: auto;
    margin: 0 auto;
  }
}
.claim__prices {
  margin-top: 28px;
}
@media (max-width: 992px) {
  .claim__prices {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
            justify-content: space-between;
    flex-wrap: nowrap;
    -webkit-box-align: start;
            align-items: flex-start;
  }
}
@media (max-width: 768px) {
  .claim__prices {
    display: block;
    margin-top: 39px;
  }
}
.prices__item {
  width: 201px;
  border: 1px solid #888383;
  display: inline-block;
  margin-right: 35px;
  vertical-align: top;
  background-color: #fff;
}
@media (max-width: 992px) {
  .prices__item {
    margin-right: 0;
  }
}
@media (max-width: 768px) {
  .prices__item {
    display: block;
    margin: 0 auto;
    margin-top: 17px;
  }
}
.prices__caption {
  background-color: #5b8e19;
  border-bottom: 1px solid #888383;
  margin-bottom: 27px;
}
.prices__month {
  text-transform: uppercase;
  color: #fff;
  font-family: 'Gotham';
  font-weight: 400;
  font-size: 15px;
  text-align: center;
  display: block;
  padding-bottom: 18px;
}
.prices__price {
  color: #fff;
  font-family: 'Gotham';
  font-weight: 400;
  font-size: 48px;
  padding: 13px 0 1px;
  text-align: center;
}
.prices__price_free {
  font-size: 56px;
  padding: 16px 0 25px;
}
.prices__par {
  margin: 0 24px 21px 24px;
  display: block;
  color: #000;
  font-family: 'Gotham';
  font-weight: 400;
  font-size: 16px;
  letter-spacing: -0.4px;
}
.prices__link {
  display: block;
  border-top: 1px solid #888383;
  background-color: #5b8e19;
  text-align: center;
  padding: 14px 24px 18px 23px;
  margin-top: 29px;
  color: #fff;
  font-family: 'Gotham';
  font-weight: 400;
  font-size: 16px;
  text-decoration: underline;
  -webkit-text-decoration-color: #84aa53;
          text-decoration-color: #84aa53;
  letter-spacing: -0.4px;
}
.ready {
  width: 870px;
  margin: 0 auto;
}
@media (max-width: 992px) {
  .ready {
    width: 720px;
  }
}
@media (max-width: 768px) {
  .ready {
    width: 540px;
  }
}
@media (max-width: 576px) {
  .ready {
    width: 290px;
  }
}
.ready__caption {
  font-family: 'Gotham';
  font-weight: 400;
  font-size: 62px;
  color: #337343;
  text-align: center;
  margin: 48px 0 57px 0;
  letter-spacing: -2px;
}
@media (max-width: 768px) {
  .ready__caption {
    margin: 21px 0 35px 0;
    line-height: 73px;
  }
}
.steps {
  text-align: center;
}
@media (max-width: 768px) {
  .steps {
    line-height: 32px;
  }
}
.steps__caption {
  font-family: 'Gotham';
  font-weight: 800;
  font-size: 27px;
  color: #6c6c6c;
  letter-spacing: -0.7px;
}
.steps__list {
  text-align: center;
  list-style: none;
}
.steps__item {
  font-family: 'Gotham';
  font-weight: 400;
  font-size: 27px;
  color: #6c6c6c;
  letter-spacing: -0.5px;
  margin-bottom: 1px;
}
.form {
  margin: 81px auto 62px;
  width: 584px;
  font-size: 0;
}
@media (max-width: 768px) {
  .form {
    width: 290px;
    margin: 38px auto 20px ;
  }
}
.form__label {
  display: inline-block;
  margin-right: 12px;
  width: 92px;
  position: relative;
}
@media (max-width: 768px) {
  .form__label {
    width: 64px;
  }
}
.form__label:before {
  position: absolute;
  content: '(';
  font-family: 'Gotham';
  font-weight: 400;
  font-size: 30px;
  color: #767474;
  top: 7px;
  left: -16px;
}
@media (max-width: 768px) {
  .form__label:before {
    top: 17px;
    left: -4px;
  }
}
.form__label:after {
  position: absolute;
  content: ')';
  font-family: 'Gotham';
  font-weight: 400;
  font-size: 30px;
  color: #767474;
  top: 7px;
  right: -2px;
}
@media (max-width: 768px) {
  .form__label:after {
    top: 17px;
    right: -11px;
  }
}
.form__input {
  display: block;
  width: 100%;
  border: 1px solid #7e7e7e;
  font-family: 'Gotham';
  font-weight: 400;
  font-size: 23px;
  color: #767474;
  padding: 9px 0 7px 27px;
  margin-bottom: 26px;
  width: 556px;
}
@media (max-width: 768px) {
  .form__input {
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 28px;
  }
}
.form__input_name {
  display: inline-block;
  width: 255px;
}
@media (max-width: 768px) {
  .form__input_name {
    width: 100%;
  }
}
.form__input_name:first-child {
  margin-right: 16px;
}
@media (max-width: 768px) {
  .form__input_name:first-child {
    margin-right: 0;
  }
}
.form__input_bus {
  margin-bottom: 37px;
}
@media (max-width: 768px) {
  .form__input_bus {
    margin-bottom: 24px;
  }
}
@media (max-width: 768px) {
  .form__input_address {
    margin-bottom: 20px;
  }
}
.form__phone {
  font-family: 'Gotham';
  font-weight: 400;
  font-size: 23px;
  color: #767474;
  margin-left: 28px;
  margin-right: 60px;
}
@media (max-width: 768px) {
  .form__phone {
    display: block;
    margin-left: 0;
    margin-top: -7px;
  }
}
.form__numbers {
  width: 64px;
  font-family: 'Gotham';
  font-weight: 400;
  font-size: 23px;
  color: #767474;
  padding: 7px 20px;
  margin: 5px 12px 43px 0;
}
@media (max-width: 768px) {
  .form__numbers {
    width: 92px;
    margin-right: 3px;
    box-sizing: border-box;
    margin: 14px 4px 26px 0;
  }
}
.form__numbers_large {
  width: 91px;
  margin-left: -3px;
}
@media (max-width: 768px) {
  .form__numbers_large {
    width: 92px;
    margin-left: 0;
  }
}
.form__numbers_phone {
  box-sizing: border-box;
  width: 78px;
  padding: 7px 2px;
}
@media (max-width: 768px) {
  .form__numbers_phone {
    margin-left: 10px;
    padding: 7px 2px;
    width: 50px;
  }
}
.form__button-cont {
  margin-top: 48px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
}
@media (max-width: 768px) {
  .form__button-cont {
    margin-top: 24px;
  }
}
.form__button {
  font-family: 'Gotham';
  font-weight: 400;
  font-size: 23px;
  color: #fff;
  text-align: center;
  padding: 22px 68px;
  background-color: #337343;
  border: none;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
}
@media (max-width: 768px) {
  .form__button {
    padding: 20px 101px 23px;
  }
}
.guide {
  position: relative;
}
.guide:before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background: url(../img/left-cannabis.png) left bottom no-repeat;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
}
@media (max-width: 992px) {
  .guide:before {
    display: none;
  }
}
.guide:after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background: url(../img/right-cannabis.png) right bottom no-repeat;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.guide__descript {
  position: relative;
  padding: 14px 0 140px;
  text-align: center;
  overflow: hidden;
}
@media (max-width: 992px) {
  .guide__descript {
    padding: 20px 34px 204px;
  }
}
.guide__img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
}
@media (max-width: 992px) {
  .guide__img {
    height: 100%;
    width: auto;
    left: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
  }
}
.guide__caption {
  margin: 0;
  font-family: 'Gotham';
  font-size: 49px;
  font-weight: 400;
  color: #fff;
  margin-bottom: 35px;
  letter-spacing: -1.3px;
}
@media (max-width: 992px) {
  .guide__caption {
    font-size: 48px;
    line-height: 48px;
    margin-bottom: 72px;
  }
}
.guide__text {
  display: -webkit-inline-box;
  display: inline-flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
  width: 620px;
  font-family: 'Gotham';
  font-weight: 400;
  font-size: 18px;
  line-height: 37px;
  color: #fff;
  letter-spacing: -0.05px;
}
@media (max-width: 992px) {
  .guide__text {
    font-size: 31px;
    width: auto;
  }
}
.guide__text:before {
  content: '';
  -webkit-box-flex: 1;
          flex-grow: 1;
  display: inline-block;
  height: 1px;
  background-color: #fff;
  margin-right: 11px;
}
@media (max-width: 992px) {
  .guide__text:before {
    display: none;
  }
}
.guide__text:after {
  content: '';
  -webkit-box-flex: 1;
          flex-grow: 1;
  display: inline-block;
  height: 1px;
  background-color: #fff;
  margin-left: 5px;
}
@media (max-width: 992px) {
  .guide__text:after {
    display: none;
  }
}
.guide__breadcrumbs {
  position: absolute;
  top: 67px;
  left: 108px;
}
@media (max-width: 1200px) {
  .guide__breadcrumbs {
    top: 67px;
    left: 18px;
  }
}
@media (max-width: 992px) {
  .guide__breadcrumbs {
    top: 118px;
    left: 53px;
  }
}
@media (max-width: 768px) {
  .guide__breadcrumbs {
    top: 128px;
    left: 12px;
  }
}
@media (max-width: 576px) {
  .guide__breadcrumbs {
    top: 172px;
    left: 12px;
  }
}
@media (max-width: 435px) {
  .guide__breadcrumbs {
    top: 216px;
    left: 22px;
  }
}
.guide__container {
  text-align: center;
  position: relative;
  min-height: 714px;
}
@media (max-width: 992px) {
  .guide__container {
    margin-top: -161px;
    padding-bottom: 207px;
  }
}
.guide__compas {
  display: none;
}
@media (max-width: 992px) {
  .guide__compas {
    display: inline-block;
    margin-bottom: 113px;
  }
}
.guidelist {
  list-style: none;
  display: -webkit-box;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 230px;
}
@media (max-width: 992px) {
  .guidelist {
    display: block;
  }
}
.guidelist__item {
  width: 33%;
  margin-top: 66px;
}
@media (max-width: 992px) {
  .guidelist__item {
    position: static;
    margin: 0 auto;
    margin-bottom: 53px;
    width: 285px;
    display: block;
  }
}
.guidelist__item_productivity {
  left: 112px;
  top: 17px;
}
@media (max-width: 1200px) {
  .guidelist__item_productivity {
    left: 24px;
  }
}
.guidelist__item_productivity .guidelist__itemimg {
  margin-left: -7px;
}
@media (max-width: 992px) {
  .guidelist__item_productivity .guidelist__itemimg {
    margin-left: -19px;
  }
}
.guidelist__item_romantic {
  right: 107px;
  top: 16px;
}
@media (max-width: 1200px) {
  .guidelist__item_romantic {
    right: 15px;
  }
}
.guidelist__item_romantic .guidelist__itemimg {
  margin-left: -4px;
}
@media (max-width: 992px) {
  .guidelist__item_romantic .guidelist__itemimg {
    margin-right: -2px;
  }
}
.guidelist__item_party {
  left: 302px;
  top: 214px;
}
@media (max-width: 1200px) {
  .guidelist__item_party {
    left: 212px;
  }
}
.guidelist__item_party .guidelist__itemimg {
  margin-left: -11px;
}
@media (max-width: 992px) {
  .guidelist__item_party .guidelist__itemimg {
    margin-left: -26px;
  }
}
.guidelist__item_movie {
  right: 286px;
  top: 214px;
}
@media (max-width: 1200px) {
  .guidelist__item_movie {
    right: 194px;
  }
}
.guidelist__item_movie .guidelist__itemimg {
  margin-left: -20px;
}
.guidelist__item_physical {
  top: 392px;
  left: 487px;
}
@media (max-width: 1200px) {
  .guidelist__item_physical {
    left: 399px;
  }
}
.guidelist__item_physical .guidelist__itemimg {
  margin-left: -19px;
}
@media (max-width: 992px) {
  .guidelist__item_physical .guidelist__itemimg {
    margin-left: -31px;
  }
}
.guidelist__itemimg {
  display: inline-block;
  width: 152px;
}
@media (max-width: 992px) {
  .guidelist__itemimg {
    width: 90%;
  }
}
.guidelist__name {
  margin-bottom: 5px;
  width: 175px;
  margin: 0 auto;
}
@media (max-width: 992px) {
  .guidelist__name {
    margin-bottom: 10px;
  }
}
.guidelist__link {
  font-family: 'Gotham';
  font-size: 19px;
  line-height: 37px;
  font-weight: 400;
  color: #7d7d7d;
  text-decoration: none;
  letter-spacing: -0.6px;
}
@media (max-width: 992px) {
  .guidelist__link {
    font-size: 31px;
    line-height: 61px;
  }
}
.guidelist__descript {
  display: block;
  font-family: 'Gotham';
  font-size: 14px;
  font-weight: 100;
  color: #7d7d7d;
  line-height: 18px;
  letter-spacing: -0.4px;
  width: 175px;
  margin: 0 auto;
}
@media (max-width: 992px) {
  .guidelist__descript {
    font-size: 24px;
    line-height: normal;
  }
}
.timeline__caption {
  font-family: 'Gotham';
  font-size: 35px;
  font-weight: 400;
  color: #434343;
  margin: 2px 0 18px 0;
  letter-spacing: -2.6px;
}
@media (max-width: 360px) {
  .timeline__caption {
    width: 255px;
    text-align: center;
    font-size: 48px;
    margin: 2px auto 36px;
  }
}
.timeline__descript {
  font-family: 'Gotham';
  font-size: 15px;
  font-weight: 400;
  color: #7b7979;
  line-height: 19px;
  margin-top: 23px;
  letter-spacing: -0.73px;
}
@media (max-width: 1191px) {
  .timeline__descript {
    margin: 0 auto;
    margin-top: 37px;
    line-height: 21px;
    font-size: 18px;
  }
}
.history {
  position: relative;
  margin-top: 39px;
  text-align: center;
}
@media (max-width: 1191px) {
  .history {
    display: none;
  }
}
.history_adaptive {
  display: none;
}
@media (max-width: 1191px) {
  .history_adaptive {
    display: block;
    margin-top: 29px;
  }
}
.history__container {
  display: inline-block;
  vertical-align: top;
}
.history__container_left {
  margin-right: 73px;
}
.history__line {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  z-index: -1;
  width: 4px;
  background-color: #00ff00;
}
.history__century {
  text-align: center;
}
.history__button {
  display: inline-block;
  background-color: #267b2e;
  border-radius: 5px;
  color: #fff;
  padding: 12px 57px 11px 61px;
  letter-spacing: -0.3px;
  font-family: 'Gotham';
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 33px;
}
.history__button_first {
  margin-bottom: 53px;
}
@media (max-width: 1191px) {
  .history__button {
    margin-bottom: 28px;
  }
}
.history__card {
  width: 360px;
  border: 1px solid #b1b1b1;
  position: relative;
  margin-bottom: 29px;
  text-align: left;
  font-size: 0;
}
.history__card_left {
  position: relative;
}
.history__card_left:before {
  content: '';
  position: absolute;
  width: 94px;
  height: 42px;
  background: url(../img/history-left.png);
  top: -21px;
  right: -62px;
}
@media (max-width: 1191px) {
  .history__card_left:before {
    display: none;
  }
}
.history__card_right {
  position: relative;
}
.history__card_right:before {
  content: '';
  position: absolute;
  width: 94px;
  height: 42px;
  background: url(../img/history-right.png);
  top: -21px;
  left: -61px;
}
@media (max-width: 1191px) {
  .history__card_right:before {
    display: none;
  }
}
.history__card_first {
  margin-top: 60px;
}
.history__card_second {
  margin-top: 26px;
}
.history__card_third {
  margin-top: 34px;
}
.history__card_fourth {
  margin-top: 18px;
}
@media (max-width: 1191px) {
  .history__card {
    text-align: center;
    background-color: #fff;
    margin: 0 auto 16px;
    width: 330px;
  }
}
.history__card img {
  max-width: 100%;
}
.history__descript {
  margin: 14px 7px 13px 12px;
  font-family: 'Gotham';
  font-size: 14px;
  font-weight: 400;
  color: #434343;
  line-height: 17px;
  letter-spacing: -0.3px;
}
@media (max-width: 1191px) {
  .history__descript {
    font-size: 14px;
    margin: 10px 4px 12px 5px;
    text-align: left;
  }
}
.terpenes {
  background-color: #fbfbfb;
  position: relative;
}
@media (max-width: 576px) {
  .terpenes {
    padding-bottom: 155px;
  }
}
.terpenes:after {
  display: none;
}
@media (max-width: 576px) {
  .terpenes:after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: url(../img/right-cannabis.png) right bottom no-repeat;
    background-size: 86%;
    position: absolute;
    right: 0;
    bottom: 0;
  }
}
.terpenes__caption {
  font-family: 'Gotham';
  font-size: 33px;
  font-weight: 400;
  color: #4a4a4a;
  margin-bottom: 12px;
  margin-top: 25px;
  letter-spacing: -1.2px;
}
.terpenes__caption:not(:first-child) {
  margin-top: -10px;
  margin-bottom: 37px;
}
@media (max-width: 576px) {
  .terpenes__caption:not(:first-child) {
    margin-top: 24px;
    font-size: 26px;
    line-height: 31px;
    margin-bottom: 27px;
  }
}
@media (max-width: 576px) {
  .terpenes__caption {
    margin: 0 30px;
    color: #717171;
    font-size: 26px;
    line-height: 48px;
    margin-top: 3px;
    font-size: 47px;
    text-align: center;
    margin-bottom: 36px;
  }
}
@media (max-width: 576px) {
  .terpenes__container {
    margin: 0 30px;
  }
}
.terpenes__img-container {
  position: relative;
  overflow: hidden;
}
@media (max-width: 576px) {
  .terpenes__img-container {
    height: 456px;
    width: auto;
    overflow: hidden;
  }
}
.terpenes__img {
  width: 100%;
  margin-top: 8px;
}
@media (max-width: 576px) {
  .terpenes__img {
    position: absolute;
    height: auto;
    width: auto;
  }
}
.terpenes__descript {
  font-family: 'Gotham';
  font-size: 16px;
  font-weight: 400;
  color: #4a4a4a;
  margin-bottom: 16px;
  vertical-align: top;
  letter-spacing: -0.72px;
}
@media (max-width: 576px) {
  .terpenes__descript {
    margin: 0 30px 13px;
    font-size: 14px;
    line-height: 17px;
  }
}
.terpenes__descript_min {
  display: inline-block;
  max-width: 624px;
  margin: 6px 0 27px 0;
  line-height: 19px;
}
@media (max-width: 992px) {
  .terpenes__descript_min {
    max-width: none;
  }
}
@media (max-width: 576px) {
  .terpenes__descript_min {
    margin: 0 30px;
  }
}
.terpenes__descript_bold {
  font-weight: 800;
}
@media (max-width: 576px) {
  .terpenes__descript_bold {
    margin: 0;
  }
}
.terpenes__quote {
  display: inline-block;
  border-left: 5px solid #5abe4b;
  color: #000;
  box-sizing: border-box;
  font-weight: 400;
  font-style: italic;
  margin-left: 33px;
  font-size: 26px;
  width: 260px;
  line-height: 30px;
  padding: 4px 0 15px 39px;
  vertical-align: top;
  letter-spacing: 0.4px;
}
@media (max-width: 992px) {
  .terpenes__quote {
    background-color: #5abe4b;
    color: #fff;
    width: 300px;
    margin: 0 auto 20px;
    display: block;
    padding: 18px 14px;
  }
}
@media (max-width: 576px) {
  .terpenes__quote {
    margin-top: 18px;
    padding: 14px 5px 14px 13px;
  }
}
.primary__caption {
  color: #4a4a4a;
  font-weight: 800;
  margin-top: 29px;
  letter-spacing: -1.9px;
  font-size: 31px;
  margin-bottom: -5px;
}
@media (max-width: 768px) {
  .primary__caption {
    text-align: center;
  }
}
@media (max-width: 576px) {
  .primary__caption {
    margin: 0 30px;
    color: #717171;
    font-size: 26px;
    margin-top: 40px;
    font-size: 25px;
    margin-top: 45px;
  }
}
.primary__list {
  font-size: 0;
  margin-bottom: 40px;
}
@media (max-width: 768px) {
  .primary__list {
    text-align: center;
  }
}
.primary__item {
  text-align: center;
  display: inline-block;
  width: 320px;
  margin-top: 34px;
  vertical-align: top;
}
@media (max-width: 576px) {
  .primary__item {
    margin-top: 27px;
  }
}
.primary__name {
  font-family: 'DIN Pro Cond';
  font-size: 41px;
  font-weight: 400;
  color: #000;
  margin-bottom: 27px;
  letter-spacing: -0.9px;
}
@media (max-width: 576px) {
  .primary__name {
    font-size: 24px;
    margin-bottom: -2px;
  }
}
.primary__descript {
  font-family: 'Gotham';
  font-size: 15px;
  font-weight: 400;
  color: #4a4a4a;
  letter-spacing: -0.79px;
  line-height: 19px;
}
.primary__link {
  font-family: 'Gotham';
  font-size: 16px;
  font-weight: 400;
  color: #478ede;
  display: block;
}
.window {
  width: 500px;
  position: relative;
  padding: 46px 38px 37px 37px;
  box-sizing: border-box;
}
@media (max-width: 500px) {
  .window {
    padding: 45px 30px;
    width: auto;
  }
}
.window__cont {
  display: inline-block;
  margin-top: 4px;
  margin-bottom: 15px;
}
@media (max-width: 500px) {
  .window__cont {
    display: block;
    text-align: center;
    margin-bottom: 31px;
  }
}
.window__caption {
  display: inline-block;
  font-family: 'Gotham';
  font-weight: 400;
  font-size: 32px;
  color: #000;
  vertical-align: top;
  letter-spacing: -1.6px;
  margin-bottom: 24px;
}
@media (max-width: 500px) {
  .window__caption {
    display: block;
    font-size: 47px;
    margin-bottom: 0;
  }
}
.window__caption-min {
  display: inline-block;
  font-family: 'Gotham';
  color: #a7a6a6;
  font-size: 18px;
  font-weight: 400;
  vertical-align: top;
  margin: 14px 0 0 5px;
  letter-spacing: -1px;
}
@media (max-width: 500px) {
  .window__caption-min {
    display: block;
    font-size: 27px;
    margin-top: -2px;
  }
}
.window__boiling {
  display: inline-block;
  float: right;
}
.window__precaption {
  font-family: 'Gotham';
  color: #7b7979;
  font-size: 15px;
  font-weight: 800;
  margin: 19px 0 18px 3px;
  letter-spacing: -0.6px;
}
.window__descript {
  font-family: 'Gotham';
  color: #7b7979;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: -0.75px;
  margin-left: 3px;
  line-height: 18px;
}
.window__button {
  display: block;
  text-align: center;
  border-radius: 5px;
  background-color: #0076a3;
  font-family: 'Gotham';
  font-size: 13px;
  font-weight: 400;
  color: #fff;
  padding: 13px 0 14px 0;
  margin: 19px auto;
  width: 129px;
}
@media (max-width: 500px) {
  .window__button {
    margin: 29px auto;
  }
}
.window__close {
  position: absolute;
  top: 13px;
  right: 15px;
  width: 21px;
  height: 20px;
  background: url(../img/window-close.png) no-repeat;
}
@media (max-width: 500px) {
  .window__close {
    top: 21px;
    right: 20px;
  }
}
.boiling {
  text-align: center;
}
@media (max-width: 500px) {
  .boiling {
    float: none;
    display: none;
  }
}
.boiling__adaptive {
  display: none;
  margin: 20px 0 22px 0;
}
@media (max-width: 500px) {
  .boiling__adaptive {
    display: block;
  }
}
.boiling__caption {
  font-family: 'Gotham';
  color: #000;
  font-size: 12px;
  font-weight: 800;
  margin-bottom: 5px;
  display: block;
  letter-spacing: -0.2px;
  margin-bottom: -1px;
}
.boiling__temperature {
  font-family: 'Gotham';
  color: #000;
  font-size: 10px;
  font-weight: 800;
  margin-top: 5px;
  display: block;
  margin-top: -4px;
}
.about {
  position: relative;
  padding: 46px 38px 37px 37px;
  box-sizing: border-box;
}
@media (max-width: 500px) {
  .about {
    padding: 45px 30px;
    width: auto;
  }
}
.about__formula {
  position: absolute;
}
.about__formula_cbn {
  top: 9px;
  left: 312px;
}
.about__formula_thc {
  top: 4px;
  left: 340px;
}
.about__formula_cbg {
  top: 8px;
  left: 306px;
}
.about__formula_thcv {
  top: 22px;
  left: 355px;
}
.about__formula_cbd {
  top: -2px;
  left: 310px;
}
.about__formula_cbc {
  top: 9px;
  left: 304px;
}
@media (max-width: 768px) {
  .about__formula {
    position: static;
  }
}
@media (max-width: 500px) {
  .about__formula {
    margin-top: 10px;
  }
}
.about__cont {
  display: inline-block;
  margin-top: 4px;
  margin-bottom: 10px;
  position: relative;
}
@media (max-width: 768px) {
  .about__cont {
    display: block;
    text-align: center;
  }
}
@media (max-width: 500px) {
  .about__cont {
    display: block;
    text-align: center;
    margin-bottom: 31px;
  }
}
.about__caption {
  display: inline-block;
  font-family: 'Gotham';
  font-weight: 500;
  font-size: 30px;
  color: #000;
  vertical-align: top;
  letter-spacing: -1.8px;
  margin-bottom: 24px;
}
@media (max-width: 500px) {
  .about__caption {
    display: block;
    font-size: 47px;
    margin-bottom: 0;
  }
}
.about__caption-min {
  display: inline-block;
  font-family: 'Gotham';
  color: #a7a6a6;
  font-size: 17px;
  font-weight: 400;
  vertical-align: top;
  margin: 14px 0 0 6px;
  letter-spacing: -0.9px;
}
@media (max-width: 500px) {
  .about__caption-min {
    display: block;
    font-size: 27px;
    margin-top: -2px;
    margin: 14px 0 14px 6px;
  }
}
.about__boiling {
  display: inline-block;
  float: right;
  margin: 31px 39px 22px 0;
}
@media (max-width: 768px) {
  .about__boiling {
    float: none;
    display: block;
    margin: 0;
  }
}
.about__precaption {
  font-family: 'Gotham';
  color: #7b7979;
  font-size: 18px;
  font-weight: 800;
  margin: 18px 0 0 0;
  letter-spacing: -0.1px;
}
.about__descript {
  font-family: 'Gotham';
  color: #434343;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: -0.18px;
  margin-left: 3px;
  line-height: 21px;
  margin: 23px 0 24px 0;
}
.about__descript_prewrap {
  white-space: pre-wrap;
}
.cnbd__caption {
  font-family: 'Gotham';
  font-size: 33px;
  font-weight: 400;
  color: #4a4a4a;
  margin-bottom: 19px;
  margin-top: 25px;
  letter-spacing: -1.55px;
}
@media (max-width: 768px) {
  .cnbd__caption {
    font-size: 30px;
    text-align: center;
  }
}
@media (max-width: 576px) {
  .cnbd__caption {
    font-size: 26px;
  }
}
@media (max-width: 576px) {
  .cnbd__caption {
    font-size: 22px;
  }
}
.cnbd__img-container {
  position: relative;
  overflow: hidden;
  margin-top: 36px;
  margin-bottom: 50px;
}
@media (max-width: 576px) {
  .cnbd__img-container {
    width: auto;
    overflow: hidden;
  }
}
.cnbd__img {
  width: 100%;
  margin-top: 8px;
}
@media (max-width: 576px) {
  .cnbd__img {
    height: auto;
  }
}
.cnbd__captionmin {
  font-family: 'Gotham';
  color: #434343;
  font-size: 18px;
  font-weight: 800;
  margin: 41px 0 23px 0;
  letter-spacing: -0.1px;
}
@media (max-width: 576px) {
  .cnbd__captionmin {
    margin: 0 30px 13px;
    font-size: 14px;
    line-height: 17px;
  }
}
.cnbd__conttext {
  width: auto;
  margin-right: 19px;
  max-width: 616px;
  display: inline-block;
  vertical-align: top;
}
@media (max-width: 1200px) {
  .cnbd__conttext {
    max-width: 500px;
  }
}
@media (max-width: 992px) {
  .cnbd__conttext {
    max-width: 400px;
    width: auto;
  }
}
@media (max-width: 768px) {
  .cnbd__conttext {
    max-width: 300px;
    width: auto;
  }
}
@media (max-width: 576px) {
  .cnbd__conttext {
    width: auto;
    max-width: none;
  }
}
.cnbd__contmin {
  max-width: 413px;
  width: auto;
  display: inline-block;
}
@media (max-width: 992px) {
  .cnbd__contmin {
    width: 287px;
  }
}
@media (max-width: 768px) {
  .cnbd__contmin {
    width: 207px;
  }
}
.cnbd__contmin_quote {
  float: right;
  margin-top: -8px;
}
@media (max-width: 768px) {
  .cnbd__contmin_quote {
    margin-top: 0;
  }
}
@media (max-width: 576px) {
  .cnbd__contmin_quote {
    max-width: auto;
    width: 100%;
    float: none;
    text-align: center;
    margin-bottom: 15px;
  }
}
.cnbd__imgtext {
  margin: 0;
  width: 100%;
  margin: 0 0 38px 0;
}
@media (max-width: 576px) {
  .cnbd__imgtext {
    display: none;
  }
}
.cnbd__quote {
  display: inline-block;
  border-left: 6px solid #5abe4b;
  color: #000;
  box-sizing: border-box;
  font-weight: 400;
  font-style: italic;
  margin-left: 39px;
  font-size: 30px;
  line-height: 30px;
  padding: 5px 0 10px 27px;
  vertical-align: top;
  letter-spacing: 0.3px;
}
@media (max-width: 992px) {
  .cnbd__quote {
    background-color: #5abe4b;
    color: #fff;
    width: auto;
    margin: 0 auto 20px;
    display: block;
    padding: 18px 14px;
  }
}
@media (max-width: 576px) {
  .cnbd__quote {
    display: inline-block;
    margin: 0 0 0 10px;
    padding: 12px 5px 12px 5px;
    font-size: 18px;
    line-height: 24px;
    width: 240px;
  }
}
.cnbd__descript {
  font-family: 'Gotham';
  font-size: 18px;
  font-weight: 400;
  color: #4a4a4a;
  margin-bottom: 16px;
  vertical-align: top;
  letter-spacing: -0.18px;
  margin: 20px 0 0 0;
  line-height: 22px;
}
@media (max-width: 576px) {
  .cnbd__descript {
    margin: 0 30px 13px;
    font-size: 14px;
    line-height: 17px;
    font-size: 16px;
    text-align: justify;
  }
}
.cnbd__descript_min {
  display: inline-block;
  max-width: 624px;
  margin: 6px 0 27px 0;
  line-height: 19px;
}
@media (max-width: 992px) {
  .cnbd__descript_min {
    max-width: none;
  }
}
@media (max-width: 576px) {
  .cnbd__descript_min {
    margin: 0 30px;
  }
}
.cnbd__descript_bold {
  font-weight: 800;
}
@media (max-width: 576px) {
  .cnbd__descript_bold {
    margin: 0;
  }
}
.cnbd__burn {
  margin: 50px 0 31px 0;
}
.burn {
  list-style: none;
}
@media (max-width: 576px) {
  .burn {
    margin: 0 30px 13px;
  }
}
.burn__text {
  font-family: 'Gotham';
  font-size: 17px;
  font-weight: 400;
  color: #4a4a4a;
  margin-bottom: 16px;
  vertical-align: top;
  letter-spacing: 0.4px;
  margin: 7px 0 0 0;
  line-height: 22px;
}
@media (max-width: 768px) {
  .burn__text {
    font-size: 20px;
    margin: 18px 0 0 0;
  }
}
@media (max-width: 576px) {
  .burn__text {
    margin: 14px auto 0;
    font-size: 14px;
    line-height: 17px;
    font-size: 16px;
  }
}
.burn__text_bold {
  font-weight: 800;
  vertical-align: top;
}
.burn__img {
  display: inline-block;
  background: url(../img/burn.png);
  width: 23px;
  height: 23px;
  vertical-align: top;
  margin-right: 20px;
}
.burn__img:after {
  content: '';
  display: inline-block;
  width: 14px;
  height: 12px;
  background: url(../img/arr.png);
  margin-left: 30px;
}
.big6__list {
  font-size: 0;
  margin-bottom: 40px;
  margin-top: -15px;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.big6__item {
  text-align: center;
  display: inline-block;
  width: 348px;
  margin-top: 36px;
  vertical-align: top;
}
@media (max-width: 576px) {
  .big6__item {
    margin-top: 27px;
  }
}
.big6__name {
  font-family: 'DIN Pro Cond';
  font-size: 46px;
  font-weight: 400;
  color: #000;
  margin-bottom: 28px;
  letter-spacing: -0.9px;
}
@media (max-width: 576px) {
  .big6__name {
    font-size: 24px;
    margin-bottom: -2px;
  }
}
.big6__descript {
  font-family: 'Gotham';
  font-size: 16px;
  font-weight: 400;
  color: #4a4a4a;
  letter-spacing: -0.79px;
  line-height: 20px;
}
.big6__link {
  font-family: 'Gotham';
  font-size: 16px;
  font-weight: 400;
  color: #478ede;
  display: block;
  margin-top: 3px;
}
