h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}
a,
a:hover,
a:focus {
  text-decoration: none;
}
.container {
  width: 1140px;
  margin: 0 auto;
}
.container_large {
  width: 1195px;
}
.container_xlarge {
  width: 1510px;
  margin: 0 auto;
}
.container:before,
.container:after {
  display: table;
  content: '';
}
.container_after {
  clear: both;
}
@media (max-width: 1200px) {
  .container {
    width: 960px;
  }
}
@media (max-width: 992px) {
  .container {
    width: 720px;
  }
}
@media (max-width: 768px) {
  .container {
    width: 540px;
  }
}
@media (max-width: 576px) {
  .container {
    width: auto;
  }
}
.header {
  position: relative;
  background-color: #2f3f4e;
  padding: 13px 0 19px 0;
  min-width: 320px;
}
@media (max-width: 768px) {
  .header {
    padding: 10px 0;
  }
}
.header__logo {
  display: inline-block;
  width: 190px;
  height: 48px;
}
@media (max-width: 768px) {
  .header__logo {
    width: 153px;
    height: auto;
  }
}
.header__logo-pic {
  width: 100%;
}
.header__burger {
  display: none;
  float: right;
  margin-top: 3px;
  margin-right: 6px;
  width: 25px;
  height: 18px;
  background: url(../img/burger.png) no-repeat;
  cursor: pointer;
}
@media (max-width: 768px) {
  .header__burger {
    display: block;
  }
}
.header__menu {
  display: inline-block;
  list-style: none;
  margin: 19px 22px 0 0;
  float: right;
}
@media (max-width: 768px) {
  .header__menu {
    display: none;
  }
}
.header__menu_adaptive {
  display: none;
}
@media (max-width: 768px) {
  .header__menu_adaptive {
    display: none;
    margin: 0;
    position: absolute;
    top: 59px;
    left: 0;
    width: 100%;
    background-color: #2f3f4e;
    border-top: 1px solid #231f20;
  }
}
.header__menu-item {
  display: inline-block;
  padding-left: 15px;
}
.header__menu-item:not(:last-child):after {
  content: '';
  display: inline-block;
  background-color: #10b3dc;
  width: 2px;
  height: 14px;
  margin-left: 11px;
}
@media (max-width: 768px) {
  .header__menu-item:not(:last-child):after {
    content: none;
  }
}
@media (max-width: 768px) {
  .header__menu-item {
    display: block;
  }
}
.header__link,
.header__link:active,
.header__link:focus {
  display: inline-block;
  text-decoration: none;
  color: #10b3dc;
  font-family: 'Gotham';
  font-size: 15px;
  font-weight: 400;
}
.header__link:hover,
.header__link:active:hover,
.header__link:focus:hover {
  text-decoration: none;
  color: #10b3dc;
}
@media (max-width: 768px) {
  .header__link,
  .header__link:active,
  .header__link:focus {
    display: block;
    padding: 15px;
  }
}
.main {
  overflow: hidden;
  min-width: 320px;
}
.main__descript {
  background: url(../img/header.png) no-repeat;
  background-size: 100%;
  background-position: center 65%;
}
.main__descript_contacts {
  background-image: url(../img/header-cont.png);
  background-size: cover;
  padding: 117px 0 102px 0;
}
@media (max-width: 768px) {
  .main__descript_contacts {
    padding: 33px 0 30px 0;
  }
}
.main__mask {
  padding-bottom: 56px;
  background: rgba(0, 0, 0, 0.6);
}
@media (max-width: 768px) {
  .main__mask {
    padding-bottom: 62px;
  }
}
.descript__container {
  text-align: center;
}
.descript__mask {
  background: rgba(0, 0, 0, 0.6);
  padding: 72px 0 84px 0;
}
@media (max-width: 768px) {
  .descript__mask {
    padding: 26px 0 37px 0;
  }
}
.descript__caption {
  display: block;
  font-family: 'Gotham';
  font-size: 32px;
  font-weight: 400;
  color: #fff;
  margin-bottom: 14px;
}
@media (max-width: 768px) {
  .descript__caption {
    font-size: 26px;
    margin-bottom: 3px;
  }
}
.descript__text {
  display: inline-block;
  max-width: 775px;
  min-width: 244px;
  width: auto;
  font-family: 'Gotham';
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  letter-spacing: 0.44px;
  line-height: 23px;
}
@media (max-width: 768px) {
  .descript__text {
    font-size: 15px;
    line-height: 17px;
  }
}
.part {
  text-align: center;
  padding: 60px 0 27px 0;
}
@media (max-width: 768px) {
  .part {
    padding: 40px 0 0 0;
  }
}
.part__logo {
  text-align: center;
  display: inline-block;
  width: 70px;
  height: 70px;
  margin: 0 62px;
}
.part__logo_work {
  background: url(../img/work.png) no-repeat;
}
.part__logo_smoking {
  background: url(../img/smoking.png) no-repeat;
}
.part__logo_medical {
  background: url(../img/medical.png) no-repeat;
}
.part__logo_side {
  background: url(../img/side.png) no-repeat;
}
.part__caption {
  display: inline-block;
  font-family: 'Gotham';
  font-size: 32px;
  font-weight: 400;
  color: #8e8e93;
  margin: 39px 0 21px 0;
  letter-spacing: -0.9px;
}
@media (max-width: 768px) {
  .part__caption {
    font-size: 21px;
    margin: 25px 0 9px 0;
  }
}
@media (max-width: 768px) {
  .part__caption_how {
    font-weight: 800;
  }
}
.part__caption_blue,
.part__caption_blue:hover {
  color: #10b3dc;
  margin: 0;
}
.part__descript {
  font-family: 'Gotham';
  font-size: 18px;
  font-weight: 400;
  color: #8e8e93;
  line-height: 22px;
  letter-spacing: 0.4px;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .part__descript {
    font-weight: 400;
    line-height: 18px;
  }
}
.part__descript_work {
  max-width: 804px;
  min-width: 260px;
  width: auto;
}
.part__descript_smoking {
  max-width: 725px;
  min-width: 260px;
  width: auto;
}
.part__descript_side {
  max-width: 880px;
  min-width: 260px;
  width: auto;
}
.part__descript_medical {
  max-width: 868px;
  min-width: 260px;
  width: auto;
}
.part__descript_blue,
.part__descript_blue:hover {
  font-size: 18px;
  color: #10b3dc;
}
@media (max-width: 768px) {
  .part__descript_blue,
  .part__descript_blue:hover {
    font-size: 15px;
  }
}
@media (max-width: 768px) {
  .part__descript {
    font-size: 15px;
    width: 260px;
  }
}
.part__img {
  margin-top: 47px;
  max-width: 100%;
}
@media (max-width: 768px) {
  .part__img {
    display: none;
  }
}
.part__img_expl {
  margin-left: 5%;
}
.part__img-ad {
  display: none;
}
@media (max-width: 768px) {
  .part__img-ad {
    display: block;
    margin: 17px auto 0;
  }
}
@media (max-width: 768px) {
  .part__img-ad_expl {
    -webkit-transform: translate(8%);
            transform: translate(8%);
  }
}
.results {
  background: url(../img/results.png) no-repeat;
  background-size: cover;
  margin-top: 53px;
  text-align: center;
}
.results__caption {
  display: block;
  font-family: 'Gotham';
  font-size: 32px;
  font-weight: 400;
  color: #10b3dc;
  margin: 79px 0 17px 0;
}
@media (max-width: 768px) {
  .results__caption {
    font-size: 22px;
    margin: 36px 0 18px 0;
  }
}
.results__text {
  display: inline-block;
  font-family: 'Gotham';
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  letter-spacing: 0.4px;
  min-width: 278px;
  max-width: 564px;
  width: auto;
}
@media (max-width: 768px) {
  .results__text {
    font-size: 15px;
  }
}
.results__img {
  margin-top: -22px;
  margin-bottom: 90px;
  max-width: 100%;
}
@media (max-width: 768px) {
  .results__img {
    margin-top: 0;
    margin-bottom: 61px;
  }
}
@media (max-width: 768px) {
  .results__img {
    display: none;
  }
}
.results__img_expl {
  margin-left: 4%;
}
.results__img-ad {
  display: none;
}
@media (max-width: 768px) {
  .results__img-ad {
    display: block;
    margin: 0 auto;
    margin-bottom: 59px;
  }
}
.results__button-left {
  margin-left: 55px;
}
@media (max-width: 1200px) {
  .results__button-left {
    margin-left: 43px;
  }
}
@media (max-width: 768px) {
  .results__button-left {
    margin: 0;
  }
}
@media (max-width: 768px) {
  .results__container {
    display: block;
    margin-bottom: 0;
  }
}
.results__container_left {
  float: right;
}
@media (max-width: 768px) {
  .results__container_left {
    float: none;
  }
}
.results__container_right {
  float: left;
}
@media (max-width: 768px) {
  .results__container_right {
    float: none;
  }
}
.results__buttons {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  margin-left: -55px;
}
@media (max-width: 768px) {
  .results__buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    padding-top: 30px;
    margin-left: 0;
  }
}
.results__button,
.results__button:hover {
  cursor: pointer;
  display: inline-block;
  background: #0eb4de;
  font-family: 'Gotham Pro';
  font-weight: 500;
  color: #fff;
  font-size: 16px;
  padding: 9px 50px 10px 50px;
  border-radius: 6px;
  letter-spacing: .5px;
}
.results__clar {
  display: block;
  font-family: 'Gotham Pro';
  font-weight: 400;
  color: #fff;
  font-size: 16px;
  margin-top: 12px;
}
@media (max-width: 768px) {
  .results__clar {
    margin-top: 8px;
  }
}
.results__or {
  display: inline-block;
  text-transform: uppercase;
  font-family: 'Arial';
  font-size: 22px;
  color: #fff;
  vertical-align: top;
  padding: 6px 36px 0 42px;
}
@media (max-width: 1200px) {
  .results__or {
    padding: 6px 36px 0 42px;
  }
}
@media (max-width: 992px) {
  .results__or {
    padding: 6px 36px 0 42px;
  }
}
@media (max-width: 768px) {
  .results__or {
    display: block;
    font-size: 25px;
    padding: 23px 0 20px 0;
  }
}
.footer {
  background-color: #231f20;
  text-align: center;
  padding: 34px 0 38px 0;
}
@media (max-width: 768px) {
  .footer {
    padding: 27px 0;
  }
}
.footer__menu-item {
  display: inline-block;
  padding-left: 10px;
}
@media (max-width: 768px) {
  .footer__menu-item {
    margin-bottom: 28px;
  }
}
.footer__menu-item:not(:last-child) {
  border-right: 1px solid #fff;
  padding-right: 9px;
}
@media (max-width: 768px) {
  .footer__menu-item:not(:last-child) {
    display: block;
    border: none;
  }
}
.footer__link {
  text-decoration: none;
  color: #fff;
  font-size: 11px;
  font-family: 'Gotham';
  font-weight: 400;
  letter-spacing: .1px;
}
@media (max-width: 768px) {
  .footer__link {
    font-size: 18px;
  }
}
.footer__link:hover {
  text-decoration: none;
  color: #fff;
}
.footer__link_green {
  color: #52b826;
}
.footer__copy {
  display: inline-block;
  margin-top: 23px;
  color: #fff;
  font-size: 11px;
  font-family: 'Gotham';
  font-weight: 400;
}
@media (max-width: 768px) {
  .footer__copy {
    font-size: 16px;
    margin-top: 0;
    padding-top: 4px;
  }
}
a,
a:hover,
a:focus {
  text-decoration: none;
}
.descript-contacts__container {
  text-align: center;
}
.descript-contacts__caption {
  display: block;
  font-family: 'Gotham';
  font-size: 52px;
  font-weight: 400;
  color: #fff;
  margin-bottom: 14px;
}
@media (max-width: 768px) {
  .descript-contacts__caption {
    font-size: 26px;
    margin-bottom: 3px;
  }
}
.touch {
  padding: 56px 0 86px 0;
  text-align: center;
}
@media (max-width: 768px) {
  .touch {
    padding: 18px 0 37px 0;
  }
}
.touch__caption {
  font-family: 'Gotham';
  font-size: 30px;
  color: #333;
  font-weight: 400;
  margin-bottom: 29px;
  letter-spacing: 0.1px;
}
@media (max-width: 768px) {
  .touch__caption {
    font-size: 20px;
    margin-bottom: 18px;
  }
}
.touch__text {
  display: inline-block;
  font-family: 'Gotham';
  font-size: 14px;
  color: #333;
  font-weight: 400;
  line-height: 17px;
  margin-bottom: 51px;
  max-width: 670px;
  min-width: 330px;
  width: auto;
}
@media (max-width: 768px) {
  .touch__text {
    margin-bottom: 23px;
  }
}
.touch__form {
  margin-bottom: 30px;
}
.touch__inputs-container {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  padding-left: 17px;
}
@media (max-width: 768px) {
  .touch__inputs-container {
    padding-left: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-align: center;
            align-items: center;
  }
}
.touch__inputs {
  width: 390px;
  margin-right: 30px;
}
@media (max-width: 768px) {
  .touch__inputs {
    margin-right: 0;
  }
}
.touch__label {
  display: block;
  position: relative;
}
@media (max-width: 1200px) {
  .touch__label {
    margin-left: 30px;
  }
}
@media (max-width: 992px) {
  .touch__label {
    margin-left: 0;
    width: 329px;
    margin: 0 auto;
  }
}
.touch__label:before {
  content: '';
  display: block;
  width: 26px;
  height: 26px;
  position: absolute;
  top: 10px;
  left: 9px;
  border-right: 1px solid #d5d5d5;
}
.touch__label_name:before {
  background: url(../img/name.png) no-repeat 5px 6px;
}
.touch__label_mail:before {
  background: url(../img/mail.png) no-repeat 5px 7px;
}
.touch__label_subject:before {
  background: url(../img/subject.png) no-repeat 8px 4px;
}
.touch__label_message {
  margin-left: 12px;
  width: 388px;
}
@media (max-width: 992px) {
  .touch__label_message {
    margin: 0 auto;
    width: 328px;
  }
}
.touch__label_message:before {
  top: 10px;
  left: 15px;
  background: url(../img/message.png) no-repeat 1px 6px;
}
.touch__input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border: 2px solid #d5d5d5;
  border-radius: 4px;
  padding: 13px 45px;
  margin-bottom: 27px;
  color: #666;
  font-family: 'Gotham';
  font-size: 14px;
  font-weight: 400;
  outline: none;
}
.touch__input_message {
  height: 191px;
  resize: none;
  padding: 12px 52px;
}
.touch__button {
  border: none;
  float: right;
  border-radius: 6px;
  color: #fff;
  font-family: 'Gotham';
  font-size: 16px;
  font-weight: 400;
  background-color: #10b3dc;
  padding: 13px 43px 11px 44px;
  margin: 2px 161px 0 0;
}
@media (max-width: 1200px) {
  .touch__button {
    margin-right: 71px;
  }
}
@media (max-width: 992px) {
  .touch__button {
    margin: 1px auto 0;
    float: none;
    display: inline-block;
    text-align: center;
    outline: none;
  }
}
.section__info {
  display: -webkit-box;
  display: flex;
  flex-wrap: nowrap;
}
@media (max-width: 1200px) {
  .section__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-align: center;
            align-items: center;
  }
}
.section__info_physical {
  margin-right: -25px;
}
@media (max-width: 1200px) {
  .section__info_physical {
    margin-right: 0;
  }
}
.section__caption {
  font-family: 'Roboto', sans-serif;
  color: #2f3f4d;
  font-size: 36px;
  font-weight: 400;
  margin-top: 30px;
  margin-left: 14px;
}
@media (max-width: 1200px) {
  .section__caption {
    margin-top: 18px;
  }
}
.section__caption:after {
  content: '';
  display: block;
  width: 44px;
  height: 3px;
  background-color: #b6cd1b;
  margin-top: 16px;
}
.section__container {
  display: inline-block;
  width: 838px;
  vertical-align: top;
  margin: 18px 84px 45px 14px;
  flex-shrink: 1;
}
@media (max-width: 1200px) {
  .section__container {
    max-width: 838px;
    min-width: 290px;
    width: auto;
    -webkit-box-ordinal-group: 2;
            order: 1;
    margin: 30px 15px 15px 15px;
  }
}
.section__container_physical {
  margin: 18px 92px 45px 14px;
  box-sizing: border-box;
}
@media (max-width: 1200px) {
  .section__container_physical {
    margin-right: 0;
    margin-left: 0;
    padding: 0 15px;
  }
}
.section__container_party {
  margin: 18px 91px 92px 14px;
}
@media (max-width: 1200px) {
  .section__container_party {
    margin-right: 0;
    margin-left: 0;
    padding: 0 15px;
  }
}
.section__container_movie {
  margin: 18px 84px 92px 14px;
}
.section__descript {
  font-size: 14px;
  font-family: 'Gotham';
  font-weight: 400;
  color: #2f3f4d;
  display: inline-block;
  vertical-align: top;
  line-height: 24px;
  white-space: pre-wrap;
}
.section__img {
  vertical-align: top;
  width: 250px;
  height: 237px;
  display: inline-block;
}
.section__img_product {
  margin-top: 16px;
  background: url(../img/productivity.png) no-repeat;
}
@media (max-width: 1200px) {
  .section__img_product {
    margin-top: 34px;
  }
}
.section__img_romantic {
  background: url(../img/romantic.png) no-repeat;
  margin-left: 4px;
}
.section__img_physical {
  background: url(../img/physical.png) no-repeat;
  width: 266px;
}
.section__img_party {
  background: url(../img/party.png) no-repeat;
}
.section__img_movie {
  background: url(../img/movie.png) no-repeat;
  margin-left: 8px;
}
.list {
  list-style: none;
  margin-bottom: 44px;
}
.list__item {
  border-top: 3px double #b6cd1b;
  padding-bottom: 46px;
}
@media (max-width: 1200px) {
  .list__item {
    border-color: transparent;
    text-align: center;
  }
}
.list__item_physical {
  padding-bottom: 68px;
}
.list__caption {
  display: inline-block;
  font-family: 'Gotham';
  font-weight: 800;
  color: #2f3f4d;
  text-transform: uppercase;
  vertical-align: 30px;
  background-color: #fff;
  padding-right: 20px;
  font-size: 29px;
  letter-spacing: 0.4px;
  padding-left: 12px;
  margin-top: -17px;
}
@media (max-width: 1200px) {
  .list__caption {
    border-bottom: 3px double #b6cd1b;
  }
}
@media (max-width: 450px) {
  .list__caption_large {
    width: 300px;
    margin-top: -40px;
  }
}
@media (max-width: 389px) {
  .list__caption_large {
    width: 220px;
    margin-top: -40px;
  }
}
.list__container-large {
  display: -webkit-box;
  display: flex;
  flex-wrap: nowrap;
}
@media (max-width: 1200px) {
  .list__container-large {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-align: center;
            align-items: center;
    text-align: left;
  }
}
.list__container-large_physical {
  margin-top: -9px;
}
.list__container {
  margin-right: 77px;
  display: inline-block;
  margin-top: -6px;
}
@media (max-width: 1200px) {
  .list__container {
    margin-right: 0;
  }
}
.list__container_romance {
  margin-top: -14px;
}
.list__container_physical {
  margin-top: 6px;
}
.list__container_yoda {
  margin-right: 86px;
}
.list__container_moon {
  margin-right: 57px;
}
.list__container_kush {
  margin-right: 93px;
}
.list__container_arctic {
  margin-right: 80px;
}
.list__container-min {
  padding-left: 33px;
  margin-top: -4px;
}
@media (max-width: 1200px) {
  .list__container-min {
    margin-top: 11px;
    margin-bottom: 30px;
  }
}
.list__container-min_physical {
  margin-top: 5px;
}
.list__img {
  width: 232px;
  height: 207px;
}
.list__img_romance {
  height: 212px;
}
.list__img_blue {
  background: url(../img/dream.png) no-repeat 15px 0;
}
.list__img_jack {
  background: url(../img/jack.png) no-repeat 3px 0;
}
.list__img_green {
  background: url(../img/green.png) no-repeat 0 0;
}
.list__img_poison {
  background: url(../img/poison.png) no-repeat 15px 0;
}
.list__img_harlequin {
  background: url(../img/harlequin.png) no-repeat 15px 0;
}
.list__img_sex {
  background: url(../img/sex.png) no-repeat 15px 0;
}
.list__img_girl {
  background: url(../img/girl.png) no-repeat 15px 0;
}
.list__img_bruce {
  background: url(../img/bruce.png) no-repeat 15px 0;
}
.list__img_super {
  background: url(../img/super.png) no-repeat 3px 0;
}
.list__img_og {
  background: url(../img/og.png) no-repeat 15px 0;
}
.list__img_jillybean {
  background: url(../img/jillybean.png) no-repeat 15px 0;
  height: 215px;
}
.list__img_casey {
  background: url(../img/casey.png) no-repeat 11px 0;
  height: 215px;
}
.list__img_chocolope {
  background: url(../img/chocolope.png) no-repeat 15px 0;
  height: 215px;
}
.list__img_acdc {
  background: url(../img/acdc.png) no-repeat 9px 0;
  height: 215px;
}
.list__img_tangerine {
  background: url(../img/tangerine.png) no-repeat 4px 0;
  height: 215px;
}
.list__img_dance {
  background: url(../img/dance.png) no-repeat 6px 3px;
}
.list__img_blueberry {
  background: url(../img/blueberry.png) no-repeat 16px 3px;
}
.list__img_sauce {
  background: url(../img/sauce.png) no-repeat 16px 3px;
}
.list__img_buddha {
  background: url(../img/buddha.png) no-repeat 10px 0;
  height: 214px;
}
.list__img_willy {
  background: url(../img/willy.png) no-repeat 13px 3px;
}
.list__img_cinderella {
  background: url(../img/cinderella.png) no-repeat 0 3px;
}
.list__img_yoda {
  background: url(../img/yoda.png) no-repeat 0 0;
  margin-left: -23px;
  width: 249px;
}
.list__img_moon {
  background: url(../img/moon.png) no-repeat 2px 4px;
  width: 255px;
}
.list__img_arctic {
  background: url(../img/arctic.png) no-repeat 0 1px;
}
.list__img_kush {
  background: url(../img/kush.png) no-repeat 0 3px;
  margin-left: -14px;
}
.list__min-img {
  display: inline-block;
  width: 51px;
  height: 51px;
  margin-right: 3px;
  margin-top: 10px;
  background-size: 51px 51px;
}
.list__min-img_rasp {
  background-image: url(../img/rasp.png);
}
.list__min-img_blue2 {
  background-image: url(../img/blue2.png);
}
.list__min-img_lolipop {
  background-image: url(../img/lolipop.png);
}
.list__min-img_showel {
  background-image: url(../img/shovel.png);
}
.list__min-img_spruce {
  background-image: url(../img/spruce.png);
}
.list__min-img_jack3 {
  background-image: url(../img/jack3.png);
}
.list__min-img_green2 {
  background-image: url(../img/green2.png);
}
.list__min-img_harlequin2 {
  background-image: url(../img/harlequin2.png);
}
.list__min-img_raccon {
  background-image: url(../img/raccon.png);
}
.list__min-img_red {
  background-image: url(../img/red.png);
}
.list__min-img_gasoline {
  background-image: url(../img/gasoline.png);
}
.list__min-img_citrus {
  background-image: url(../img/citrus.png);
}
.list__min-img_herb {
  background-image: url(../img/herb.png);
}
.list__min-img_orange {
  background-image: url(../img/orange.png);
}
.list__min-img_coffee {
  background-image: url(../img/coffee.png);
}
.list__min-img_lime {
  background-image: url(../img/lime.png);
}
.list__min-img_branch {
  background-image: url(../img/branch.png);
}
.list__min-img_cookie {
  background-image: url(../img/cookie.png);
}
.list__descript {
  display: inline-block;
  vertical-align: top;
  font-family: 'Gotham';
  font-size: 14px;
  font-weight: 400;
  color: #2f3f4d;
  line-height: 24px;
  text-indent: 10px;
}
@media (max-width: 1200px) {
  .list__descript {
    margin: 0 15px;
  }
}
.list__descript_romance {
  margin-top: -9px;
}
@media (max-width: 1200px) {
  .list__descript_romance {
    margin-top: 0;
  }
}
.claim {
  background: url(../img/claim.png) no-repeat;
  background-size: cover;
}
.claim__container {
  width: 1200px;
  margin: 0 auto;
}
.claim__caption {
  font-family: 'Gotham';
  font-weight: 800;
  font-size: 62px;
  color: #fff;
  padding: 81px 0 8px 49px;
  letter-spacing: -1.5px;
}
.claim__descript {
  width: 638px;
  color: #fff;
  font-family: 'Gotham';
  font-weight: 400;
  font-size: 32px;
  text-align: center;
  margin-bottom: 30px;
  margin-left: 22px;
  letter-spacing: -0.8px;
  line-height: 38px;
}
.claim__prices {
  margin-top: 28px;
}
.prices {
  margin-bottom: 74px;
}
.prices__item {
  width: 201px;
  border: 1px solid #888383;
  display: inline-block;
  margin-right: 35px;
  vertical-align: top;
  background-color: #fff;
}
.prices__caption {
  background-color: #5b8e19;
  border-bottom: 1px solid #888383;
  margin-bottom: 27px;
}
.prices__month {
  text-transform: uppercase;
  color: #fff;
  font-family: 'Gotham';
  font-weight: 400;
  font-size: 15px;
  text-align: center;
  display: block;
  padding-bottom: 18px;
}
.prices__price {
  color: #fff;
  font-family: 'Gotham';
  font-weight: 400;
  font-size: 48px;
  padding: 13px 30px 1px 56px;
}
.prices__price_free {
  font-size: 56px;
  padding: 16px 44px 25px 41px;
}
.prices__par {
  margin: 0 24px 21px 24px;
  display: block;
  color: #000;
  font-family: 'Gotham';
  font-weight: 400;
  font-size: 16px;
  letter-spacing: -0.4px;
}
.prices__link {
  display: block;
  border-top: 1px solid #888383;
  background-color: #5b8e19;
  text-align: center;
  padding: 14px 24px 18px 23px;
  margin-top: 29px;
  color: #fff;
  font-family: 'Gotham';
  font-weight: 400;
  font-size: 16px;
  text-decoration: underline;
  -webkit-text-decoration-color: #84aa53;
          text-decoration-color: #84aa53;
  letter-spacing: -0.4px;
}
.ready {
  width: 870px;
  margin: 0 auto;
}
.ready__caption {
  font-family: 'Gotham';
  font-weight: 400;
  font-size: 62px;
  color: #337343;
  text-align: center;
  margin: 48px 0 57px 0;
  letter-spacing: -2px;
}
.steps {
  text-align: center;
}
.steps__caption {
  font-family: 'Gotham';
  font-weight: 800;
  font-size: 27px;
  color: #6c6c6c;
  letter-spacing: -0.7px;
}
.steps__list {
  text-align: center;
  list-style: none;
}
.steps__item {
  font-family: 'Gotham';
  font-weight: 400;
  font-size: 27px;
  color: #6c6c6c;
  letter-spacing: -0.5px;
  margin-bottom: 1px;
}
.form {
  margin: 81px auto 62px;
  width: 584px;
  font-size: 0;
}
.form__label {
  position: relative;
}
.form__label:before {
  position: absolute;
  content: '(';
  font-family: 'Gotham';
  font-weight: 400;
  font-size: 23px;
  color: #767474;
  top: -22px;
  left: 15px;
}
.form__label:after {
  position: absolute;
  content: ')';
  font-family: 'Gotham';
  font-weight: 400;
  font-size: 23px;
  color: #767474;
  top: -22px;
  right: 24px;
}
.form__input {
  display: block;
  width: 100%;
  border: 1px solid #7e7e7e;
  font-family: 'Gotham';
  font-weight: 400;
  font-size: 23px;
  color: #767474;
  padding: 9px 0 7px 27px;
  margin-bottom: 26px;
  width: 556px;
}
.form__input_name {
  display: inline-block;
  width: 255px;
}
.form__input_name:first-child {
  margin-right: 16px;
}
.form__input_bus {
  margin-bottom: 37px;
}
.form__phone {
  font-family: 'Gotham';
  font-weight: 400;
  font-size: 23px;
  color: #767474;
  margin-left: 28px;
  margin-right: 60px;
}
.form__numbers {
  width: 64px;
  font-family: 'Gotham';
  font-weight: 400;
  font-size: 23px;
  color: #767474;
  padding: 7px 20px;
  margin: 5px 12px 43px 0;
}
.form__numbers_large {
  width: 91px;
  margin-left: -3px;
}
.form__button-cont {
  margin-top: 48px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
}
.form__button {
  font-family: 'Gotham';
  font-weight: 400;
  font-size: 23px;
  color: #fff;
  text-align: center;
  padding: 22px 68px;
  background-color: #337343;
  border: none;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
}
.guide {
  position: relative;
}
.guide:before {
  content: '';
  display: block;
  width: 745px;
  height: 449px;
  background: url(../img/left-cannabis.png);
  position: absolute;
  left: 0;
  bottom: 0;
}
.guide:after {
  content: '';
  display: block;
  width: 745px;
  height: 449px;
  background: url(../img/right-cannabis.png);
  position: absolute;
  right: 0;
  bottom: 0;
}
.guide__descript {
  position: relative;
  padding: 58px 0 242px;
  text-align: center;
  overflow: hidden;
}
.guide__img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
}
.guide__caption {
  margin: 0;
  font-family: 'Gotham';
  font-size: 80px;
  font-weight: 400;
  color: #fff;
  margin-bottom: 35px;
  letter-spacing: -2px;
}
.guide__text {
  display: inline-block;
  font-family: 'Gotham';
  font-size: 31px;
  font-weight: 400;
  color: #fff;
}
.guide__text:before {
  content: '';
  display: inline-block;
  width: 121px;
  height: 1px;
  background-color: #fff;
  margin-right: 22px;
  margin-bottom: 9px;
}
.guide__text:after {
  content: '';
  display: inline-block;
  width: 121px;
  height: 1px;
  background-color: #fff;
  margin-left: 22px;
  margin-bottom: 9px;
}
.guide__container {
  margin-top: -196px;
  text-align: center;
  position: relative;
  height: 1172px;
}
.guidelist {
  list-style: none;
}
.guidelist__item {
  position: absolute;
  width: 285px;
}
.guidelist__item_productivity {
  left: 18px;
  top: 27px;
}
.guidelist__item_romantic {
  right: 18px;
  top: 27px;
}
.guidelist__item_party {
  left: 307px;
  top: 351px;
}
.guidelist__item_movie {
  right: 307px;
  top: 351px;
}
.guidelist__item_physical {
  top: 640px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}
.guidelist__itemimg {
  margin-bottom: 16px;
}
.guidelist__name {
  font-family: 'Gotham';
  font-size: 31px;
  font-weight: 400;
  color: #7d7d7d;
  margin-bottom: 27px;
}
.guidelist__descript {
  font-family: 'Gotham';
  font-size: 24px;
  font-weight: 400;
  color: #7d7d7d;
  line-height: 19px;
}
