.claim {
	background: url(../img/claim.png) no-repeat;
	background-size: cover;

	&__container {
		width: 1200px;
		margin: 0 auto;
		padding-bottom: 74px;

		@media (max-width: 1220px) {
			width: 960px
		}

		@media (max-width: 992px) {
			width: 720px
		}

		@media (max-width: 768px) {
			width: 540px;
			padding-bottom: 40px;
		}

		@media (max-width: 576px) {
			width: 290px;
		}
	}

	&__caption {
		font-family: 'Gotham';
		font-weight: 800;
		font-size: 62px;
		color: #fff;
		padding: 81px 0 8px 49px;
		letter-spacing: -1.5px;

		@media (max-width: 992px) {
			text-align: center;
			padding: 81px 0 8px;
		}

		@media (max-width: 576px) {
			width: 290px;
			padding-left: 0;
			line-height: 60px;
			padding: 28px 0 45px 0;
		}
	}

	&__descript {
		width: 638px;
		color: #fff;
		font-family: 'Gotham';
		font-weight: 400;
		font-size: 32px;
		text-align: center;
		margin-bottom: 30px;
		margin-left: 22px;
		letter-spacing: -0.8px;
		line-height: 38px;

		@media (max-width: 992px) {
			min-width: 290px;
			width: auto;
			margin: 0 auto;
		}
	}

	&__prices {
		margin-top: 28px;

		@media (max-width: 992px) {
			display: flex;
			justify-content: space-between;
			flex-wrap: nowrap;
			align-items: flex-start;
		}

		@media (max-width: 768px) {
			display: block;
			margin-top: 39px;
		}
	}
}

.prices {

	&__item {
		width: 201px;
		border: 1px solid #888383;
		display: inline-block;
		margin-right: 35px;
		vertical-align: top;
		background-color: #fff;

		@media (max-width: 992px) {
			margin-right: 0;
		}

		@media (max-width: 768px) {
			display: block;
			margin: 0 auto;
			margin-top: 17px;
		}
	}

	&__caption {
		background-color: #5b8e19;
		border-bottom: 1px solid #888383;
		margin-bottom: 27px;
	}

	&__month {
		text-transform: uppercase;
		color: #fff;
		font-family: 'Gotham';
		font-weight: 400;
		font-size: 15px;
		text-align: center;
		display: block;
		padding-bottom: 18px;
	}

	&__price {
		color: #fff;
		font-family: 'Gotham';
		font-weight: 400;
		font-size: 48px;
		padding: 13px 0 1px;
		text-align: center;

		&_free {
			font-size: 56px;
			padding: 16px 0 25px;
		}
	}

	&__par {
		margin: 0 24px 21px 24px;
		display: block;
		color: #000;
		font-family: 'Gotham';
		font-weight: 400;
		font-size: 16px;
		letter-spacing: -0.4px;
	}

	&__link {
		display: block;
		border-top: 1px solid #888383;
		background-color: #5b8e19;
		text-align: center;
		padding: 14px 24px 18px 23px;
		margin-top: 29px;
		color: #fff;
		font-family: 'Gotham';
		font-weight: 400;
		font-size: 16px;
		text-decoration: underline;
		text-decoration-color: #84aa53;
		letter-spacing: -0.4px;
	}
}