.guide {

	position: relative;

	&:before {
		content: '';
		display: block;
		width: 745px;
		height: 449px;
		background: url(../img/left-cannabis.png) no-repeat;
		position: absolute;
		left: 0;
		bottom: 0;

		@media (max-width: 1500px) {
			display: none;
		}
	}

	&:after {
		content: '';
		display: block;
		width: 745px;
		height: 449px;
		background: url(../img/right-cannabis.png) no-repeat;
		position: absolute;
		right: 0;
		bottom: 0;

		@media (max-width: 1500px) {
			background-size: 42% 42%;
			background-position: bottom right;
		}
	}

	&__descript {
		position: relative;
		padding: 58px 0 242px;
		text-align: center;
		overflow: hidden;


		@media (max-width: 768px) {
			padding: 34px 0 218px;
			
		}
	}

	&__img {
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		width: 100%;

		@media (max-width: 768px) {
			height: 100%;
			width: auto;
			left: 50%;
			transform: translate(-50%);
		}
	}

	&__caption {
		margin: 0;
		font-family: 'Gotham';
		font-size: 80px;
		font-weight: 400;
		color: #fff;
		margin-bottom: 35px;
		letter-spacing: -2px;

		@media (max-width: 900px) {
				font-size: 48px;
				line-height: 72px;
			}
	}

	&__text {
		display: inline-block;
		font-family: 'Gotham';
		font-size: 31px;
		font-weight: 400;
		color: #fff;

		@media (max-width: 900px) {
				font-size: 31px;
				margin: 0 33px;
				line-height: 37px;
			}
				
		&:before {
			content: '';
			display: inline-block;
			width: 121px;
			height: 1px;
			background-color: #fff;
			margin-right: 22px;
			margin-bottom: 9px;

			@media (max-width: 1140px) {
				display: none;
			}
		}

		&:after {
			content: '';
			display: inline-block;
			width: 121px;
			height: 1px;
			background-color: #fff;
			margin-left: 22px;
			margin-bottom: 9px;

			@media (max-width: 1140px) {
				display: none;
			}
		}
	}

	&__container {
		margin-top: -161px;
		text-align: center;
		position: relative;
		height: 1172px;

		@media (max-width: 1500px) {
			margin-bottom: 110px;
			height: 2847px;
		}
	}

	&__compas {

		@media (max-width: 1500px) {
			margin-bottom: 114px;
			width: 360px;
		}
	}

	&__guidelist {

	}
}

.guidelist {

	list-style: none;

	&__item {
		position: absolute;
		width: 285px;

		@media (max-width: 1500px) {
			position: static;
			margin: 0 auto;
			margin-bottom: 39px;
		}

		&_productivity {
			left: 18px;
			top: 27px;
		}

		&_romantic {
			right: 18px;
			top: 27px;
		}

		&_party {
			left: 307px;
			top: 351px;
		}

		&_movie {
			right: 307px;
			top: 351px;
		}

		&_physical {
			top: 640px;
			left: 50%;
			transform:translate(-50%);

			@media (max-width: 1500px) {
				transform:translate(0);
			}

		}
	}

	&__itemimg {
		margin-bottom: 16px;
	}

	&__name {
		font-family: 'Gotham';
		font-size: 31px;
		font-weight: 400;
		color: #7d7d7d;
		margin-bottom: 27px;
	}

	&__descript {
		font-family: 'Gotham';
		font-size: 24px;
		font-weight: 400;
		color: #7d7d7d;
		line-height: 19px;
	}
}