.guide {

	position: relative;

	&:before {
		content: '';
		display: block;
		width: 100%;
		height: 100%;
		background: url(../img/left-cannabis.png) left bottom no-repeat;
		position: absolute;
		left: 0;
		bottom: 0;

		@media (max-width: 992px) {
			display: none;
		}
	}

	&:after {
		content: '';
		display: block;
		width: 100%;
		height: 100%;
		background: url(../img/right-cannabis.png) right bottom no-repeat;
		position: absolute;
		right: 0;
		bottom: 0;
	}

	&__descript {
		position: relative;
		padding: 34px 0 140px;
		text-align: center;
		overflow: hidden;


		@media (max-width: 992px) {
			padding: 34px 34px 217px;
		}
	}

	&__img {
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		width: 100%;

		@media (max-width: 992px) {
			height: 100%;
			width: auto;
			left: 50%;
			transform: translate(-50%);
		}
	}

	&__caption {
		margin: 0;
		font-family: 'Gotham';
		font-size: 49px;
		font-weight: 400;
		color: #fff;
		margin-bottom: 15px;
		letter-spacing: -1.3px;

		@media (max-width: 992px) {
				font-size: 48px;
				line-height: 48px;
				margin-bottom: 48px;
			}
	}

	&__text {
		display: inline-flex;
		justify-content: space-between;
		align-items: center;
		width: 620px;
		font-family: 'Gotham';
		font-weight: 400;
		font-size: 18px;
		line-height: 37px;
		color: #fff;
		letter-spacing: -.05px;

		@media (max-width: 992px) {
			font-size: 31px;
			width: auto;
		}

		&:before {
			content: '';
			flex-grow: 1;
			display: inline-block;
			height: 4px;
			background-color: #fff;
			margin-right: 11px;

			@media (max-width: 992px) {
				display: none;
			}
		}

		&:after {
			content: '';
			flex-grow: 1;
			display: inline-block;
			height: 4px;
			background-color: #fff;
			margin-left: 5px;

			@media (max-width: 992px) {
				display: none;
			}
		}
	}

	&__container {
		margin-top: -121px;
		text-align: center;
		position: relative;
		min-height: 714px;

		@media (max-width: 992px) {
			margin-top: -161px;
			padding-bottom: 207px;
		}
	}

	&__compas {
		@media (max-width: 992px) {
			display: none;
		}
	}

	&__compas-adapt {
		display: none;

		@media (max-width: 992px) {
			display: inline-block;
			margin-bottom: 113px;
		}
	}

	&__guidelist {

	}
}

.guidelist {
	list-style: none;

	&__item {
		position: absolute;
		width: 175px;

		@media (max-width: 992px) {
			position: static;
			margin: 0 auto;
			margin-bottom: 53px;
			width: 285px;
		}

		&_productivity {
			left: 112px;
			top: 17px;

			@media (max-width: 1200px) {
				left: 24px;
			}

			.guidelist__itemimg {
				margin-left: -7px;

				@media (max-width: 992px) {
					margin-left: -19px;
				}
			}
		}

		&_romantic {
			right: 107px;
			top: 16px;

			@media (max-width: 1200px) {
				right: 15px;
			}

			.guidelist__itemimg {
				margin-left: -4px;

				@media (max-width: 992px) {
					margin-right: -2px;
				}
			}
		}

		&_party {
			left: 302px;
			top: 214px;

			@media (max-width: 1200px) {
				left: 212px;
			}

			.guidelist__itemimg {
				margin-left: -11px;

				@media (max-width: 992px) {
					margin-left: -26px;
				}
			}
		}

		&_movie {
			right: 286px;
			top: 214px;

			@media (max-width: 1200px) {
				right: 194px;
			}

			.guidelist__itemimg {
				margin-left: -20px;
			}
		}

		&_physical {
			top: 392px;
			left: 487px;

			@media (max-width: 1200px) {
				left: 399px;
			}

			.guidelist__itemimg {
				margin-left: -19px;

				@media (max-width: 992px) {
					margin-left: -31px;
				}
			}
		}
	}

	&__itemimg {
		display: inline-block;
		width: 152px;

		@media (max-width: 992px) {
			width: 90%;
		}
	}

	&__name {
		font-family: 'Gotham';
		font-size: 19px;
		line-height: 37px;
		font-weight: 400;
		color: #7d7d7d;
		margin-bottom: 5px;
		letter-spacing: -.6px;

		@media (max-width: 992px) {
			margin-bottom: 10px;
			font-size: 31px;
			line-height: 61px;
		}
	}

	&__descript {
		font-family: 'Gotham';
		font-size: 14px;
		font-weight: 100;
		color: #7d7d7d;
		line-height: 18px;
		letter-spacing: -.4px;

		@media (max-width: 992px) {
			font-size: 24px;
			line-height: normal;
		}
	}
}