.ready {

	width: 870px;
	margin: 0 auto;

	&__caption {
		font-family: 'Gotham';
		font-weight: 400;
		font-size: 62px;
		color: #337343;
		text-align: center;
		margin: 48px 0 57px 0;
		letter-spacing: -2px;
	}

	&__steps {
	}

	&__form {

	}
}

.steps {

	text-align: center;

	&__caption {
		font-family: 'Gotham';
		font-weight: 800;
		font-size: 27px;
		color: #6c6c6c;
		letter-spacing: -0.7px;
	}

	&__list {
		text-align: center;
		list-style: none;
	}

	&__item {
		font-family: 'Gotham';
		font-weight: 400;
		font-size: 27px;
		color: #6c6c6c;
		letter-spacing: -0.5px;
		margin-bottom: 1px;
	}
}

.form {

	margin: 81px auto 62px;
	width: 584px;
	font-size: 0;

	&__label {

		position: relative;

		&:before {
			position: absolute;
			content: '(';
			font-family: 'Gotham';
			font-weight: 400;
			font-size: 23px;
			color: #767474;
			top: -22px;
			left: 15px;
		}

		&:after {
			position: absolute;
			content: ')';
			font-family: 'Gotham';
			font-weight: 400;
			font-size: 23px;
			color: #767474;
			top: -22px;
			right: 24px;
		}
	}

	&__input {
		display: block;
		width: 100%;
		border: 1px solid #7e7e7e;
		font-family: 'Gotham';
		font-weight: 400;
		font-size: 23px;
		color: #767474;
		padding: 9px 0 7px 27px;
		margin-bottom: 26px;
		width: 556px;

		&_name {
			display: inline-block;
			width: 255px;

			&:first-child {
				margin-right: 16px;
			}
		}

		&_bus {
			margin-bottom: 37px;
		}
	}

	&__phone {
		font-family: 'Gotham';
		font-weight: 400;
		font-size: 23px;
		color: #767474;
		margin-left: 28px;
		margin-right: 60px;
	}

	&__numbers {
		width: 64px;
		font-family: 'Gotham';
		font-weight: 400;
		font-size: 23px;
		color: #767474;
		padding: 7px 20px;
		margin: 5px 12px 43px 0;

		&_large {
			width: 91px;
			margin-left: -3px;
		}
	}

	&__button-cont {
		margin-top: 48px;
		display: flex;
		justify-content: center;
	}

	&__button {
		font-family: 'Gotham';
		font-weight: 400;
		font-size: 23px;
		color: #fff;
		text-align: center;
		padding: 22px 68px;
		background-color: #337343;
		border: none;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}